<footer>
    <div class="container">
        <div class="menu-line">
            <div class="col">
                <div class="menu">
                    <div class="title"><a href="">Компания</a></div>
                    <ul class="submenu">
                        <li><a href="">О предприятии</a></li>
                        <li><a href="">Наша миссия</a></li>
                        <li><a href="">Производство</a></li>
                        <li><a href="">История компании</a></li>
                        <li><a href="">Фото видео галерея</a></li>
                        <li><a href="">Представители</a></li>
                        <li><a href="">Публичная информация</a></li>
                    </ul>
                </div>
                <div class="menu">
                    <div class="title"><a href="">Корпоративная ответственность</a></div>
                </div>
            </div>
            <div class="col">
                <div class="menu">
                    <div class="title"><a href="">Продукция</a></div>
                    <ul class="submenu">
                        <li><a href="">Горно-шахтенная промышленность</a></li>
                        <li><a href="">Железнодорожная отрасль</a></li>
                        <li><a href="">Энергетическая отрасль</a></li>
                        <li><a href="">Сельское хозяйтсво</a></li>
                        <li><a href="">Машиностроение</a></li>
                        <li><a href="">Прочее</a></li>
                    </ul>
                </div>
                <div class="menu">
                 <div class="title"><a href="">Услуги</a></div>
                </div>
                <div class="menu">
                    <div class="title"><a href="">Пресс-центр</a></div>
                </div>
            </div>
            <div class="col">
                <div class="menu">
                    <div class="title"><span>Сбытовая сеть</span></div>
                    <ul class="submenu">
                        <li><a href="">Список дилеров</a></li>
                        <li><a href="">Как стать дилером</a></li>
                        <li><a href="">Календарь выставок</a></li>
                        <li><a href="">Анкета клиента</a></li>
                        <li><a href="">Сделать заказ</a></li>
                    </ul>
                </div>
                <div class="menu">
                    <div class="title"><span>Обеспечение</span></div>
                    <ul class="submenu">
                        <li><a href="">Список поставщиков</a></li>
                        <li><a href="">Как стать поставщиком</a></li>
                        <li><a href="">Порядок закупок</a></li>
                        <li><a href="">Реестр закупок</a></li>
                        <li><a href="">Тендеры</a></li>
                        <li><a href="">Черный список</a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="contacts-block">
                    <a href="" class="title">Контакты</a>
                    <div class="phones">
                        <div class="block">
                            <div class="label">Приемная</div>
                            <div  class="phone-link"><span>+38 (03352)</span> 6-10-02</div>
                        </div>
                        <div class="block">
                            <div class="label">Отдел снабжения</div>
                            <div  class="phone-link"><span>+38 (03352)</span> 6-10-54</div>
                        </div>
                        <div class="block">
                            <div class="label">Отдел сбыта</div>
                            <div  class="phone-link"><span>+38 (03352)</span> 6-10-41</div>
                        </div>
                    </div>
                    <div class="address-email-block">
                        <div class="block mgn-more">
                            <div class="label">Адрес предприятия</div>
                            <div class="address">Украина, 45007, г. Ковель Волынской области , ул. Варшавская, 1</div>
                        </div>
                        <div class="soc-email-block">
                            <div class="block mgn-more">
                                <a href="mailto:reception@kovelselmash.com" class="mail-link">reception@kovelselmash.com</a>
                            </div>
                            <div class="soc-block">
                                <a href="" target="_blank" class="soc-link"><img src="images/png/soc-fb.png" alt=""><img class="hide" src="images/png/soc-fb-2.png" alt=""></a>
                                <a href="" target="_blank" class="soc-link"><img src="images/png/soc-tw.png" alt=""><img class="hide" src="images/png/soc-tw-2.png" alt=""></a>
                                <a href="" target="_blank" class="soc-link"><img src="images/png/soc-insta.png" alt=""><img class="hide" src="images/png/soc-insta-2.png" alt=""></a>
                                <a href="" target="_blank" class="soc-link"><img src="images/png/soc-youtube.png" alt=""><img class="hide" src="images/png/soc-youtube-2.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="copy-line">
            <div class="col">
                <div class="copy">© 2019 Машиностроительный завод «Ковельсельмаш» </div>
                <div class="copy-2">Любое использование материалов размещенных на сайте компании<br>«Ковельсельмаш» должно быть согласовано с правообладателем</div>
            </div>
            <div class="col">
                <a href="">Политика конфиденциальности</a>
            </div>
            <div class="col">
                <a href="" target="_blank">
                    <div class="label">Создание сайта:</div>
                    <span class="image"></span>
                </a>
            </div>
        </div>
    </div>
</footer>