<footer>
    <div class="container">
        <div class="menu-line">
            <div class="col">
                <div class="menu">
                    <div class="title"><a href=""></a></div>
                    <ul class="submenu">
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="menu">
                    <div class="title"><a href=""></a></div>
                    <ul class="submenu">
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="menu">
                    <div class="title"><a href=""></a></div>
                    <ul class="submenu">
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="contacts-block">

                </div>
            </div>

        </div>
        <div class="copy-line">
            <div class="col">
                <div class="copy">© 2019 Машиностроительный завод «Ковельсельмаш» </div>
                <div class="copy-2">Любое использование материалов размещенных на сайте компании<br>«Ковельсельмаш» должно быть согласовано с правообладателем</div>
            </div>
            <div class="col">
                <a href="">Политика конфиденциальности</a>
            </div>
            <div class="col">
                <div class="label">Создание сайта:</div>
                <a href="" target="_blank"><img src="images/png/dev-logo.png" alt=""></a>
            </div>
        </div>
    </div>
</footer>