<header>
    <div class="container">
        <div class="logo-line">
            <a href="/" class="logo">
                <img src="images/png/logo.png" alt="">
                <span class="text-block">
                    <span class="title">Ковельсельмаш</span>
                    <span class="losung">Надежность и стабильность</span>
                </span>
            </a>
            <div class="address">г. Ковель, ул. Варшавская 1</div>
            <a href="tel:+380335261002" class="phone"><span>+38 (03352)</span>  6-10-02</a>
            <div class="select-lang-block">
                <a href="" class="lang active">Рус</a>
                <div class="more-langs">
                    <a href="" class="lang active">Eng</a>
                    <a href="" class="lang active">Укр</a>
                </div>
            </div>
            <a href="" class="search"><img src="images/png/i-search.png" alt=""></a>
        </div>
        <div class="menu-line">
            <ul class="menu">
                <li class="level-1 haschild">
                    <a href=""></a>
                    <ul>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                    </ul>
                </li>
                <li class="level-1 haschild">
                    <a href=""></a>
                    <ul>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                    </ul>
                </li>
                <li class="level-1 haschild">
                    <a href=""></a>
                    <ul>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                    </ul>
                </li>
                <li class="level-1 haschild">
                    <a href=""></a>
                    <ul>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                    </ul>
                </li>
                <li class="level-1 haschild">
                    <a href=""></a>
                    <ul>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                    </ul>
                </li>
                <li class="level-1 haschild">
                    <a href=""></a>
                    <ul>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                    </ul>
                </li>
                <li class="level-1 haschild">
                    <a href=""></a>
                    <ul>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                    </ul>
                </li>
                <li class="level-1 haschild">
                    <a href=""></a>
                    <ul>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                    </ul>
                </li>
                <li class="level-1 haschild">
                    <a href=""></a>
                    <ul>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                    </ul>
                </li>
                <li class="level-1 haschild">
                    <a href=""></a>
                    <ul>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                    </ul>
                </li>
                <li class="level-1 haschild">
                    <a href=""></a>
                    <ul>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                        <li class="level-2">
                            <a href=""></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>
