<header>
    <div class="container">
        <div class="logo-line">
            <a href="/" class="logo">
                <img src="images/png/logo.png" alt="">
                <span class="text-block">
                    <span class="title">Ковельсельмаш</span>
                    <span class="losung">Надежность и стабильность</span>
                </span>
            </a>
            <div class="no-logo">
                <div class="address">г. Ковель, ул. Варшавская 1</div>
                <a href="tel:+380335261002" class="phone"><span>+38 (03352)</span>  6-10-02</a>
                <div class="select-lang-block">
                    <a href="javascript:;" class="lang change-lang">Рус</a>
                    <div class="more-langs">
                        <a href="" class="lang">Eng</a>
                        <a href="" class="lang">Укр</a>
                    </div>
                </div>
                <a href="" class="search"><img src="images/png/i-search.png" alt=""></a>
                <a href="" class="cart"><img src="images/png/i-cart.png" alt=""></a>
            </div>
        </div>
        <div class="menu-line">
            <ul class="menu">
                <li class="level-1 haschild">
                    <a href="">Компания</a>
                    <div class="drop-block">Выпадающий блок</div>
                </li>
                <li class="level-1 haschild">
                    <a href="">Продукция</a>
                    <div class="drop-block">Выпадающий блок</div>
                </li>
                <li class="level-1 haschild">
                    <a href="">Услуги</a>
                    <div class="drop-block">Выпадающий блок</div>
                </li>
                <li class="level-1 haschild">
                    <a href="">Клиентам и партнерам</a>
                    <div class="drop-block">Выпадающий блок</div>
                </li>
                <li class="level-1 haschild">
                    <a href="">Пресс-центр</a>
                    <div class="drop-block">Выпадающий блок</div>
                </li>
                <li class="level-1 haschild">
                    <a href="">Контакты</a>
                    <div class="drop-block">Выпадающий блок</div>
                </li>

                <li class="level-1 callback-link">
                    <a href="javascript:;" data-fancybox data-src="#callback">Оформить заявку</a>
                </li>
            </ul>
        </div>
    </div>
</header>
