/*$font1: 'Montserrat', sans-serif;
$font2: "Montserrat", sans-serif;*/

.catalog-page{background: white;}





.catalog-page{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: -10px;

	li{
		list-style: none;
	}

	.left_side-catalog{
		background: #445055;
		height: auto;
		flex-shrink: 0;
		width: 392px;
		margin-right: 32px;
		margin-top: 8px;

		.left_side-catalog_tabs{

			.dt ul{
				display: flex;

				li{
					list-style: none;
					width: 50%;
					text-align: center;
					line-height: 80px;

					a{
						color: white;
						font-weight: 600;
						font-size: 15px;
						display: block;
						cursor: pointer;

						&.active{
							background: #34a963;
							cursor:auto;
						}
					}

				}
			}

			.dd{
				.item{
					position: absolute;
					left: -99999em;
					top:-99999em;

					&.active{
						position: relative;
						left: 0;
						top:0;
					}

					.cd-accordion-menu .has-children > label input[type=checkbox] {
						position: absolute;
						opacity: 0;
					}
					.cd-accordion-menu label, .cd-accordion-menu a {
						position: relative;
						display: block;
						padding: 18px 18px 18px 64px;
						color: #ffffff;
					}

					.cd-accordion-menu ul {
						display: none;
					}

					.cd-accordion-menu input[type=checkbox]:checked + label + ul,
					.cd-accordion-menu input[type=checkbox]:checked + label:nth-of-type(n) + ul {
						display: block;
					}
				}
			}
		}
	}

	.content-catalog{
		width: 100%;
		height: 1000px;

		.catalog-title{
			font-size: 25px;
			line-height: 35px;
			max-width: 425px;
			font-weight: 500;
			margin-bottom: 45px;
		}

		.big_menu{
			margin-bottom: 60px;
			display: flex;
			justify-content: space-between;

			.item{
				color: #1c1c1c;
				width: 30.9%;
				border:1px solid #dee2e7;
				background: #f6f8fb;
				border-bottom: 3px solid #ffbe46;
				padding: 18px 18px 57px;
				box-sizing: border-box;
				font-size: 15px;
				line-height: 20px;
				font-weight: 500;
				display: block;
				transition: .3s border-bottom-color, .2s box-shadow, .3s color;

				&:hover{
					border-bottom-color: #34a963;
					box-shadow:3px 5px 21px 0px rgba(0, 0, 0, 0.18);
					color: #34a963;
				}

				.image_block{
					background-size: cover;
					background-position: center center;
					display: block;
					height: 203px;
					margin-bottom: 19px;
				}

				.text{
					display: block;
					padding-left: 15px;
				}
			}
		}

		.sort_row{
			font-size: 15px;
			line-height: 48px;
			background: #f6f8fb;
			padding: 26px 34px 25px 34px;
			display: flex;
			justify-content: space-between;

			.sort_block{
				.gray{
					color: #848e99;
				}
			}

			.trig_block{
				a{
					margin-left: 8px;
					display: inline-block;
					vertical-align: middle;
					cursor: pointer;

					svg{
						display: inline-block;
						vertical-align: middle;
						margin-top: -6px;
					}

					&.active{
						cursor: auto;

						svg{
							path{
								fill:#34a963;
							}
						}
					}
				}
			}
		}
	}
}



