/*$font1: 'Montserrat', sans-serif;
$font2: "Montserrat", sans-serif;*/

.catalog-page{background: white;}





.catalog-page{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: -10px;

	li{
		list-style: none;
	}

	.left_side-catalog{
		background: #445055;
		height: auto;
		flex-shrink: 0;
		width: 392px;
		margin-right: 32px;
		margin-top: 8px;

		.left_side-catalog_tabs{

			.dt ul{
				display: flex;

				li{
					list-style: none;
					width: 50%;
					text-align: center;
					line-height: 80px;

					a{
						color: white;
						font-weight: 600;
						font-size: 15px;
						display: block;
						cursor: pointer;
						background: #34a963;

						&.active{
							background: #445055;
							cursor:auto;
						}
					}

				}
			}

			.dd{
				.item{
					position: absolute;
					left: -99999em;
					top:-99999em;

					&.active{
						position: relative;
						left: 0;
						top:0;
					}

					.multiple > [data-accordion]{
						border-bottom: 1px solid #5b696e;

						& > [data-control]{
							cursor: pointer;
							background: transparent;
							display: block;
							width: 100%;
							box-sizing: border-box;
							border:0;
							outline: none;
							text-align: left;
							color: #fff;
							font-size: 18px;
							line-height: 22px;
							padding: 29px 65px 24px 46px;
							font-weight: 600;
							font-family: Montserrat, sans-serif;

							&:after{
								width: 10px;
								height: 5px;
								background: url("../images/svg/arr-down-menu.svg") no-repeat center top;
								top:39px;
								right:28px;
							}
						}

						[data-content]{
							[data-accordion]:not(#filter){
								border-left: 3px solid transparent;

								[data-content]{
									*:last-child{
										margin-bottom: 20px;
									}
								}

								a{
									padding-top: 0;
									padding-left: 15px;
									padding-bottom: 15px;
								}

								&.open {
									border-color:transparent;
									border-left: 3px solid #34a963;
									background: #3d464a;
									margin-left: 0;
									margin-right: 0;
									padding-left: 23px;
									padding-right: 23px;

									[data-control]{
										color: #34a963;
									}

									[data-control]:after{
										background: url("../images/svg/arr-up-menu.svg") no-repeat center top;
										transform: rotate(0);
									}
								}

								&.open + div{
									border-color:transparent;
								}
							}

							& > div + div{
								border-top: 1px solid #5b696e;

							}

							& > div{
								margin-left: 23px;
								margin-right: 23px;
							}

							a, [data-control]{
								margin-left: 23px;
								margin-right: 23px;
								box-sizing: border-box;
								padding-left: 0;
								display: block;
								padding-top: 18px;
								padding-bottom: 17px;
								font-size: 13px;
								color: #c1c9d2;
								line-height: 20px;
								text-align: left;
								background: transparent;
								border:0;
								outline: none;
								padding-right: 18px;


								&:hover{
									color: #fff;
								}

							}

							[data-control]{
								cursor: pointer;
								font-family: Montserrat, sans-serif;;
								display: block;
								width:calc(100% - 46px);

								&:after{
									width: 10px;
									height: 5px;
									background: url("../images/svg/arr-down-w.svg") no-repeat center top;
									top:28px;
									right:-23px;
								}
							}

							& > #filter{

								margin-left: 0;
								margin-right: 0;
								border:0;
								background: transparent;
								padding: 0;

								& + div{
									border-top-color: transparent;
								}

								& > [data-control]{
									margin-bottom: 8px;
									padding-top: 28px;
									padding-bottom: 26px;
									border-bottom: 3px solid #34a963;
									font-size: 18px;
									font-weight: 500;
									margin-left: 0;
									margin-right: 0;
									color: #fff;
									width: 100%;
									padding-left: 46px;

									&:after{
										right:28px;
										top:28px;
										width: 19px;
										height: 19px;
										border-radius: 50%;
										background: #34a963 url("../images/svg/arr-down-w.svg") no-repeat center center;
										transform: rotate(-90deg);
									}
								}

								&.open{
									border-bottom:3px solid #34a963;
								}

								&.open > [data-control]{
									background-color: #34a963;

									 &:after{
										 width: 20px;
										 height: 20px;
										 background-image: url("../images/svg/close-menu.svg");
										 background-color: transparent;
									 }
								 }

								&.open [data-control]{
									color: #ffffff;

									&:after{

									}
								}

								[data-content] [data-accordion]{
									[data-control]{
										color: #c1c9d2;
									}
								}

								[data-content] [data-accordion].open{
									[data-control]{
										color: #fff;
									}
								}

								.filter_button{
									font-size: 15px;
									display: block;
									width: calc(100% - 46px);
									padding:0;
									color: #fff;
									background: #34a963;
									height: 50px;
									border:0;
									outline: none;
									box-sizing: border-box;
									cursor: pointer;
									margin-left: auto;
									margin-right: auto;
									margin-bottom: 35px;
									margin-top: 13px;
								}
							}
						}

						&.open > [data-content]{
							border-top: 3px solid #34a963;
							border-bottom: 3px solid #34a963;
						}


					}
				}
			}
		}
	}

	.content-catalog{
		width: 100%;

		.catalog-title{
			font-size: 25px;
			line-height: 35px;
			max-width: 425px;
			font-weight: 500;
			margin-bottom: 45px;
		}

		.tabs-titles{
			margin-top: 60px;
			display: flex;
			border: 1px solid #dee2e7;
			.tab-title{
				width: 33.3333%;
				height: 76px;
				background-color: #f6f8fb;
				color: #1c1c1c;
				font-size: 15px;
				font-weight: 600;
				text-align: center;
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				cursor: pointer;
				+.tab-title{
					border-left: 1px solid #dee2e7;
				}
				&.active{
					background-color: #ffffff;
					color: #34a963;
					&::after{
						content: '';
						width: 100%;
						height: 3px;
						background-color: #34a963;
						display: block;
						position: absolute;
						left: 0;
						bottom: 0;
					}
					&::before{
						content: '';
						border: 8px solid transparent;
						border-bottom: 8px solid #34a963;
						display: block;
						position: absolute;
						left: calc(50 - 8px);
						bottom: 3px;
					}
				}
			}
		}
		.tabs-content{
			margin-top: 32px;
			.tab{
				display: none;
				&.active{
					display: block;
				}
			}
		}

		.big_menu{

			.row{
				margin-left: -30px;
			}

			.item{
				float: left;
				width: 33.33333%;
				padding-left: 30px;
				box-sizing: border-box;
				font-size: 15px;
				line-height: 20px;
				font-weight: 500;
				margin-bottom: 32px;


				a{
					color: #1c1c1c;
					padding: 18px 18px 57px;
					display: block;
					border:1px solid #dee2e7;
					border-bottom: 3px solid #ffbe46;
					background: #f6f8fb;
					transition: .3s border-bottom-color, .2s box-shadow, .3s color;
				}

				a:hover{
					border-bottom-color: #34a963;
					box-shadow:3px 5px 21px 0px rgba(0, 0, 0, 0.18);
					color: #34a963;
				}

				.image_block{
					background-size: cover;
					background-position: center center;
					display: block;
					height: 203px;
					margin-bottom: 19px;
				}

				.text{
					display: block;
					padding-left: 15px;
				}
			}
		}

		.sort_row{
			margin-bottom: 32px;
			font-size: 15px;
			line-height: 48px;
			background: #f6f8fb;
			padding: 26px 34px 25px 34px;
			display: flex;
			justify-content: space-between;

			.sort_block{

				.nice-select{
					display: inline-block;
					vertical-align: top;
					float: none;
					margin-left: 15px;
					margin-right: 19px;
					border-radius: 0;
					height: 48px;
					line-height: 46px;
					padding-left: 15px;
					min-width:204px;

					&:after{
						right:15px;
					}
				}
				.gray{
					color: #848e99;
				}
			}

			.trig_block{
				a{
					margin-left: 8px;
					display: inline-block;
					vertical-align: middle;
					cursor: pointer;

					svg{
						display: inline-block;
						vertical-align: middle;
						margin-top: -6px;
					}

					&.active{
						cursor: auto;

						svg{
							path{
								fill:#34a963;
							}
						}
					}
				}
			}
		}

		.catalog{
			margin-bottom: 68px;

			&.catalog_table{
				.row{
					margin-left: -31px;

					.item{
						box-sizing: border-box;
						width: 33.33333%;
						padding-left: 31px;
						float: left;
						margin-bottom: 32px;

						& > a{
							font-size: 15px;
							box-sizing: border-box;
							display: block;
							text-align: center;
							padding:18px;
							border:1px solid #dee2e7;
							height: 329px;
							transition: .2s box-shadow;

							.image_block{
								background-size: cover;
								background-position: center center;
								display: block;
								height: 210px;
								border-bottom: 2px solid #dee2e7;
								margin-bottom: 14px;
							}

							.ah1{
								display: block;
								font-weight: 600;
								color: #1c1c1c;
								margin-bottom: 9px;
								white-space: nowrap;
								overflow: hidden;
								text-overflow:ellipsis;
								transition: .3s color;
							}

							.ah2{
								display: block;
								color: #848e99;
								white-space: nowrap;
								overflow: hidden;
								text-overflow:ellipsis;
								font-size: 13px;
								font-weight: 500;
							}

							&:hover{
								box-shadow:3px 5px 21px 0px rgba(0, 0, 0, 0.18);

								.ah1{
									color: #34a963;
								}
							}
						}
					}


				}
			}

			&.catalog_list{

			}
		}
	}
}



.industry_menu{
	.row{
		margin-left: -30px;

		.item{
			float: left;
			box-sizing: border-box;
			padding-left: 30px;
			width: 33.3333%;
			margin-bottom: 32px;

			a{
				position: relative;
				background-size: cover;
				background-position: center center;
				background-repeat: no-repeat;
				display: block;
				border:1px solid #dee2e7;
				padding: 240px 33px 10px 33px;
				box-sizing: border-box;
				height: 317px;
				font-weight: 600;
				color: #fff;
				background: #39444e;
				font-size: 18px;
				line-height: 25px;

				span{
					z-index: 1;
					position: relative;
				}
			}
		}
	}
}
