@media screen and (max-width: 1250px) {
  .gallery-page {
    .page-title {
      font-size: 23px;
    }

    .gallery-slider {
      margin-top: 35px;

      .swipper-control {
        position: relative;
        right: auto;
        top: auto;
        margin: 50px auto 0 ;
      }
    }

    .gallery-item {
      .image-block {
        .counts {
          right: 16px;
          top: 16px;
        }
      }

      .date {
        margin-top: 20px;
      }

      .label {
        font-size: 14px;
        line-height: 21px;
      }
    }

    .sep-line{
      margin: 60px 0 60px;
    }

    .filter-row{
      margin-bottom: 48px;
      a{
        font-size: 14px;
      }

      .years-filter{
        width: 212px;
      }
    }

    .pagi{
      margin-top: 50px;
    }

  }

  .gallery-single-page{
    .flex-block-title{
      .left-block{
        width: 100%;
      }
      .right-block{
        display: none;
      }
    }
    .flex-block{
      .left-block{
        width: 100%;
      }
      .right-block{
        display: none;
      }
    }
  }

  .news-events-page.gallery-single-page .flex-block .left-block .bottom-links {
    padding-top: 27px;
    margin-top: 80px;
  }
  .news-events-page.gallery-single-page .flex-block .left-block .bottom-links .links-row {
    width: 377px;
  }
  .news-events-page.gallery-single-page .page-title {
    font-size: 23px;
    font-weight: 500;
    line-height: 33px;
    margin-top: 4px;
  }
  .news-events-page.gallery-single-page .flex-block-title .left-block .date {
    margin-top: 1px;
  }
  .news-events-page.gallery-single-page .flex-block .left-block .text-style {
    margin-top: 33px;
  }
  .news-events-page.gallery-single-page .flex-block .left-block .bottom-links .share-block .soc-link {
    margin-left: 15px;
  }
  .gallery-single-page .image-slider .image-block img{
    height: 480px;
  }
  .news-events-page.gallery-single-page .links-row a{
    font-size: 14px;
  }
}

@media screen and (max-width: 700px) {
  .gallery-page {
    .page-title {
      font-size: 20px;
    }

    .gallery-slider {
      margin-top: 35px;

      .swipper-control {
        margin: 45px  auto 0;
      }
    }

    .gallery-item{
      .image-block{
        img{
          height: 174px;
          object-fit: cover;
        }
      }
    }

    .gallery-grid{
      @include flex-row(30px, 35px);
      .item{
        @include flex-block(215px, 30px, 35px, true, 3);
      }
    }

    .sep-line{
      margin: 45px 0 40px;
    }

    .filter-row{
      justify-content: center;
      margin-bottom: 40px;
      .type-filter{
        display: none;
      }
      .years-filter{
        width: 230px;
      }
    }

    .pagi{
      margin-top: 45px;
    }
    .drop-type-filter{
      display: block;
      height: 56px;
      border-radius: 0;
      float: none;
      line-height: 53px;
      font-weight: 500;
      font-size: 14px;
      border: 0 !important;
      top: 1px;
      background-color: #f6f8fb;
      margin-bottom: 40px;
      .list{
        padding: 10px 0;
      }
      .option{
        font-weight: 500;
        &.selected{
          display: none;
        }
      }
    }
  }

  .gallery-single-page .image-slider .image-block img{
    height: 267px;
  }
  .page-wrapper.news-events-page.gallery-single-page .page-title {
    font-size: 20px;
    margin-left: -2px;
    line-height: 29px;
  }
  .page-wrapper.news-events-page.gallery-single-page .flex-block-title {
    margin-bottom: 21px;
  }
  .news-events-page.gallery-single-page .flex-block .left-block .text-style {
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .gallery-single-page  .gallery-single-grid{
    @include flex-row(20px, 20px);
    .item{
      @include flex-block(150px, 20px, 20px, true, 3);
      display: block;
      img{
        width: 100%;
      }
    }
  }

  .page-wrapper.news-events-page.gallery-single-page .flex-block .left-block .bottom-links {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 22px;
    padding-top: 20px;
  }
  .news-events-page.gallery-single-page .flex-block .left-block .bottom-links {
    margin-top: 49px;
    padding-top: 26px;
  }
  .news-events-page.gallery-single-page .flex-block .left-block .bottom-links .links-row {
    order: -1;
    width: 100%;
  }
  .page-wrapper.news-events-page.gallery-single-page .flex-block .left-block .bottom-links .share-block {
    margin-top: 36px;
  }
}