.home-page{
  .home-banner{
    height: 697px;
    .container{
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-size: cover;
      .text-block{
        .big-text{
          color: #ffffff;
          font-size: 35px;
          font-weight: 700;
          line-height: 48px;
        }
        .small-text{
          color: #ffffff;
          font-size: 20px;
          font-weight: 600;
          line-height: 30px;
          margin-top: 60px;
        }
      }
      .medals{
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
          display: block;
          +img{
            margin-top: 23px;
          }
        }
      }
    }
  }

  .tabs-menu{
    margin-top: -77px;
    .container{
      box-sizing: border-box;
      border: 1px solid #dee2e7;
    }
    .tabs-titles{
      display: flex;
      .tab-title{
        width: 33.3333%;
        height: 77px;
        background-color: #f2f3f5;
        color: #1c1c1c;
        font-size: 18px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
        +.tab-title{
          border-left: 1px solid #dee2e7;
        }
        &.active{
          background-color: #ffffff;
          color: #34a963;
          &::before{
            content: "";
            width: 19px;
            height: 19px;
            display: block;
            background: #34a963 url("../images/svg/arr-down-w.svg") center center no-repeat;
            border-radius: 100%;
            position: absolute;
            right: 38px;
            top: calc(50% - 9px);
          }
          &::after{
            content: "";
            width: 100%;
            height: 5px;
            background-color: #34a963;
            position: absolute;
            left: 0;
            bottom: 0;
          }
        }
      }
    }
    .tabs-content{
      .tab{
        display: none;
        &.active{
          display: block;
          &#tab-1{
            display: flex;
          }
        }
        &#tab-1{
          background-color: #445055;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          background-image: none;
          flex-wrap: wrap;

          .item{
            background: url("../images/svg/arr-link-w.svg") right 15px top 15px no-repeat;
            padding: 40px 60px;
            width: 33.3333%;
            height: 361px;
            box-sizing: border-box;
            border-bottom: 1px solid rgba(255,255,255,0.3);
            border-right: 1px solid rgba(255,255,255,0.3);
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            .image-block{
              height: 60px;
              display: flex;
              align-items: flex-end;
              img{
                display: block;
              }
            }
            .title{
              color: #ffffff;
              font-size: 18px;
              font-weight: 600;
              line-height: 25px;
              margin-top: 30px;
              max-width: 200px;
            }
            .list{
              padding-top: 40px;
              box-sizing: border-box;
              display: none;
              flex-direction: column;
              align-items: flex-start;
              a{
                display: inline-block;
                font-size: 14px;
                color: #ffffff;
                +a{
                  margin-top: 15px;
                }
              }
            }
            &:nth-child(3n){
              margin-right: 0;
            }
            &:hover{
              background: #34a963 url("../images/svg/arr-link-down-w.svg") right 15px top 15px no-repeat;
              .list{
                display: flex;
              }
            }
          }
        }
      }
    }
  }

  .popular-spec-products{
    margin-top: 110px;
    .carousel-titles{
      display: flex;
      border-bottom: 3px solid #dee2e7;
      justify-content: center;
      width: max-content;
      padding: 0 40px;
      margin: 0 auto;
      .carousel-title{
        padding: 0 0 25px;
        color: #848e99;
        font-size: 18px;
        font-weight: 500;
        position: relative;
        line-height: 30px;
        cursor: pointer;
        +.carousel-title{
          margin-left: 51px;
        }
        &.active{
          color: #1c1c1c;
          font-size: 25px;
          &::after{
            content: '';
            height: 3px;
            width: 100%;
            background: #34a963;
            display: block;
            position: absolute;
            left: 0;
            bottom: -3px;
          }
          &::before{
            content: '';
            display: block;
            position: absolute;
            left: calc(50% - 8px);
            bottom: -19px;
            border: 8px solid transparent;	border-top: 8px solid #34a963;
          }
        }
      }
    }
    .carousels-content{
      border: 1px solid #dee2e7;
      padding: 40px;
      box-sizing: border-box;
      margin-top: -1px;
      margin-bottom: 30px;
      .carousel{
        display: none;
        position: relative;
        &.active{
          display: block;
        }
        .swipper-control{
          padding: 5px;
          border-radius: 50px;
          background-color: #eff2f7;
          position: absolute;
          width: 249px;
          left: calc(50% - 125px);
          bottom: -62px;
        }
        .swiper-slide{
          a{
            text-align: center;
            display: block;
            .image-block{
              width: 254px;
              height: 254px;
              background-color: #ffffff;
              display: flex;
              align-items: center;
              justify-content: center;
              border-bottom: 2px solid #dee2e7;
              img{
                max-width: 100%;
                max-height: 100%;
                display: block;
              }
            }
            .title{
              color: #1c1c1c;
              font-size: 15px;
              font-weight: 600;
              margin-top: 30px;
              display: block;
            }
            .type{
              color: #848e99;
              font-size: 13px;
              font-weight: 400;
              margin-top: 8px;
              display: block;
            }
            .category{
              color: #34a963;
              font-size: 13px;
              font-weight: 400;
              margin-top: 12px;
              display: block;
            }
            &:hover{
              .title{
                color: #34a963;
              }
            }
          }
        }
      }
    }
  }

  .why-block{
    margin-top: 115px;
    .container{
      background-color: #f6f8fb;
      display: flex;
      .left-block{
        width: 318px;
        position: relative;
        padding: 50px 0 0 60px;
        box-sizing: border-box;
        .title-list{
          .title{
            cursor: pointer;
            color: #1c1c1c;
            font-size: 15px;
            font-weight: 600;
            position: relative;
            line-height: 30px;
            +.title{
              margin-top: 20px;
            }
            &.active{
              color: #ffbf46;
              &::before{
                content: "";
                height: 100%;
                width: 3px;
                display: block;
                position: absolute;
                left: -60px;
                top: 0;
                background-color: #ffbf46;
              }
            }
          }
        }
        .catalog-block{
          margin-top: 50px;
          .title{
            color: #1c1c1c;
            font-size: 15px;
            font-weight: 600;
          }
          .info{
            color: #848e99;
            font-size: 13px;
            font-weight: 400;
            margin-top: 5px;
          }
          .download-link{
            color: #848e99;
            font-size: 13px;
            font-weight: 400;
            text-decoration: underline;
            margin-top: 12px;
            display: inline-block;
            &:hover{
              text-decoration: none;
            }
          }
        }
      }
      .center-block{
        width: calc(100% - 318px - 635px);
        box-sizing: border-box;
        position: relative;
        .images{
          width: 100%;
          height: 100%;
          img{
            display: none;
            &.active{
              display: block;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
        .logo{
          width: 78px;
          position: absolute;
          left: calc(50% - 39px);
          top: calc(50% - 39px);
          img{
            width: 100%;
            display: block;
          }
        }
      }
      .right-block{
        width: 635px;
        box-sizing: border-box;
        padding: 50px 60px 0;
        .why-content{
          display: none;
          .title-row{
            display: flex;
            align-items: center;
            .big-title{
              color: #ffbf46;
              font-size: 60px;
              font-weight: 600;
            }
            .small-title{
              color: #1c1c1c;
              font-size: 18px;
              font-weight: 600;
              line-height: 22px;
              margin-left: 25px;
            }
          }
          .text{
            margin-top: 20px;
            max-width: 470px;
            color: #1c1c1c;
            font-size: 15px;
            font-weight: 400;
            line-height: 25px;
            span{
              background-color: #ffbf46;
              font-weight: 600;
            }
            a{
              text-decoration: underline;
              &:hover{
                text-decoration: none;
              }
            }
          }
          .btn-white{
            margin-top: 30px;
          }
          &.active{
            display: block;
          }
        }
      }
    }
  }

}
