.home-page{
  #video_bg{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    z-index: -2;
  }
  .home-banner{
    &::before{
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      background: #445055;
      opacity: 0.45;
    }
    z-index: 2;
    position: relative;
    height: 697px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    .container{
      padding-bottom: 77px;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-size: cover;
      .text-block{
        .big-text{
          color: #ffffff;
          font-size: 35px;
          font-weight: 700;
          line-height: 48px;
        }
        .small-text{
          color: #ffffff;
          font-size: 20px;
          font-weight: 600;
          line-height: 30px;
          margin-top: 60px;
        }
      }
      .medals{
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
          display: block;
          +img{
            margin-top: 23px;
          }
        }
      }
    }
  }

  .tabs-menu{
    z-index: 3;
    position: relative;
    margin-top: -78px;
    .container{
      box-sizing: border-box;
      border: 1px solid #dee2e7;
    }
    .tabs-titles{
      display: flex;
      background-color: #f2f3f5;
      .tab-title{
        width: 33.3333%;
        min-width: 33.3333%;
        height: 77px;
        background-color: #f2f3f5;
        color: #1c1c1c;
        font-size: 18px;
        font-weight: 600;
        display: flex;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
        flex-grow: 1;
        border-right: 1px solid #dee2e7;
        &:last-child{
          border-right:0;
        }
        &.active{
          background-color: #ffffff;
          color: #34a963;
          &::before{
            content: "";
            width: 19px;
            height: 19px;
            display: block;
            background: #34a963 url("../images/svg/arr-down-w.svg") center center no-repeat;
            border-radius: 100%;
            position: absolute;
            right: 38px;
            top: calc(50% - 9px);
          }
          &::after{
            content: "";
            width: 100%;
            height: 5px;
            background-color: #34a963;
            position: absolute;
            left: 0;
            bottom: 0;
          }
        }
      }
    }
    .tabs-content{
      .tab{
        display: none;
        &.active{
          display: block;
          &#tab-1, &#tab-2, &#tab-3{
            display: flex;
          }
        }
        &#tab-1{
          background-color: #445055;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          background-image: url("../images/jpg/catalog-test-1.jpg");
          flex-wrap: wrap;
          transition: background 0.3s linear;

          .item{
            background: url("../images/svg/arr-link-w.svg") right 15px top 15px no-repeat;
            transition: background 0.3s linear;
            padding: 40px 60px;
            width: 33.3333%;
            min-width: 33.3333%;
            max-width: 33.3333%;
            box-sizing: border-box;
            border-bottom: 1px solid rgba(255,255,255,0.3);
            border-right: 1px solid rgba(255,255,255,0.3);
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            height: 361px;
            flex-grow: 1;
            .image-block{
              height: 60px;
              display: flex;
              align-items: flex-end;
              img{
                display: block;
              }
            }
            .title{
              color: #ffffff;
              font-size: 18px;
              font-weight: 600;
              line-height: 25px;
              margin-top: 30px;
              max-width: 200px;
            }
            .list{
              padding-top: 40px;
              box-sizing: border-box;
              display: none;
              flex-direction: column;
              align-items: flex-start;
              opacity: 0;
              transition: opacity 0.3s linear;
              >div{
                +div{
                  margin-top: 15px;
                }
              }
              a{
                display: inline-block;
                font-size: 14px;
                color: #ffffff;
              }
            }
            &:nth-child(3n){
              border-right: 0;
            }
            &:hover{
              background: #34a963 url("../images/svg/arr-link-down-w.svg") right 15px top 15px no-repeat;
              .list{
                opacity: 1;
              }
            }
          }
        }
        &#tab-2{
          background-color: #445055;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          background-image: url("../images/jpg/usluga-bg-1.jpg");
          flex-wrap: wrap;
          transition: background 0.3s linear;
          .item{
            padding: 30px 60px;
            width: 33.3333%;
            min-width: 33.3333%;
            max-width: 33.3333%;
            box-sizing: border-box;
            border-bottom: 1px solid rgba(255,255,255,0.3);
            border-right: 1px solid rgba(255,255,255,0.3);
            display: flex;
            align-items: center;
            height: 144px;
            flex-grow: 1;
            transition: background 0.3s linear;
            .title{
              font-weight: 600;
              max-width: 250px;
              color: #ffffff;
              font-size: 15px;
              line-height: 22px;
            }
            &:nth-child(3n){
              border-right: 0;
            }
            &:hover{
              background: #34a963;
            }
          }
        }
        &#tab-3{
          background: #ffffff;
          .item-left{
            flex-grow: 1;
            width: calc((100%/3) * 2);
            min-width: calc((100%/3) * 2);
            border-right: 1px solid #dee2e7;
            box-sizing: border-box;
            .text{
              color: #1c1c1c;
              font-size: 15px;
              line-height: 25px;
              padding: 63px 60px 50px;
              p{
                +p{
                  margin-top: 22px;
                }
              }
            }
            .links{
              display: flex;
              .item{
                width: 33.3333%;
                height: 360px;
                box-sizing: border-box;
                border: 1px solid #dee2e7;
                background-color: #445055;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 15px;
                flex-grow: 1;
                +.item{
                  border-left: 1px solid #dee2e7;
                }
                a{
                  display: flex;
                  text-align: center;
                  align-items: center;
                  justify-content: center;
                  height: 64px;
                  width: 100%;
                  background: #ffffff url("../images/svg/arr-link-d.svg") right 8px top 8px no-repeat;
                  /* Style for "Кузнечно-п" */
                  color: #1c1c1c;
                  font-size: 13px;
                  font-weight: 500;
                  &:hover{
                    color: #ffffff;
                    background-color: #34a963;
                    background-image: url("../images/svg/arr-link-w.svg");
                  }
                }
              }
            }
          }
          .item-right{
            flex-grow: 1;
            width: calc(100%/3);
            min-width: calc(100%/3);
            .items{
              .item{
                height: 180px;
                box-sizing: border-box;
                padding-left: 90px;
                display: inline-flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                +.item{
                  border-top: 1px solid #dee2e7;
                }
                .big-label{
                  font-family: $font2;
                  font-size: 60px;
                  color: #34a963;
                  font-weight: 600;
                  line-height: 60px;
                  span{
                    font-size: 20px;
                  }
                }
                .label{
                  color: #1c1c1c;
                  font-size: 15px;
                  font-weight: 500;
                  margin-top: 5px;
                }
                &:nth-child(2){
                  .big-label{
                    position: relative;
                    span{
                      font-size: 25px;
                      position: absolute;
                      left: 0;
                      top: -15px;
                      line-height: 15px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .popular-spec-products{
    margin-top: 110px;
    .carousel-titles{
      display: flex;
      border-bottom: 3px solid #dee2e7;
      justify-content: center;
      width: max-content;
      padding: 0 40px;
      margin: 0 auto;
      .carousel-title{
        padding: 0 0 25px;
        color: #848e99;
        font-size: 18px;
        font-weight: 500;
        position: relative;
        line-height: 30px;
        cursor: pointer;
        +.carousel-title{
          margin-left: 51px;
        }
        &.active{
          color: #1c1c1c;
          font-size: 25px;
          &::after{
            content: '';
            height: 3px;
            width: 100%;
            background: #34a963;
            display: block;
            position: absolute;
            left: 0;
            bottom: -3px;
          }
          &::before{
            content: '';
            display: block;
            position: absolute;
            left: calc(50% - 8px);
            bottom: -19px;
            border: 8px solid transparent;	border-top: 8px solid #34a963;
          }
        }
        &:not(.active):hover{
          color: #34a963;
        }
      }
    }
    .carousels-content{
      border: 1px solid #dee2e7;
      padding: 40px;
      box-sizing: border-box;
      margin-top: -1px;
      margin-bottom: 30px;
      .carousel{
        display: none;
        position: relative;
        &.active{
          display: block;
        }
        .swipper-control{
          padding: 5px;
          border-radius: 50px;
          background-color: #eff2f7;
          position: absolute;
          width: 249px;
          left: calc(50% - 125px);
          bottom: -62px;
        }
        .swiper-slide{
          a{
            text-align: center;
            display: block;
            .image-block{
              width: 254px;
              height: 254px;
              background-color: #ffffff;
              display: flex;
              align-items: center;
              justify-content: center;
              border-bottom: 2px solid #dee2e7;
              img{
                max-width: 100%;
                max-height: 100%;
                display: block;
              }
            }
            .title{
              color: #1c1c1c;
              font-size: 15px;
              font-weight: 600;
              margin-top: 30px;
              display: block;
            }
            .type{
              color: #848e99;
              font-size: 13px;
              font-weight: 400;
              margin-top: 8px;
              display: block;
            }
            .category{
              color: #34a963;
              font-size: 13px;
              font-weight: 400;
              margin-top: 12px;
              display: block;
            }
            &:hover{
              .title{
                color: #34a963;
              }
            }
          }
        }
      }
    }
  }

  .why-block{
    margin-top: 115px;
    .container{
      background-color: #f6f8fb;
      display: flex;
      .left-block{
        width: 318px;
        position: relative;
        padding: 50px 0 0 60px;
        box-sizing: border-box;
        .title-list{
          .title{
            cursor: pointer;
            color: #1c1c1c;
            font-size: 15px;
            font-weight: 600;
            position: relative;
            line-height: 30px;
            +.title{
              margin-top: 20px;
            }
            &.active{
              color: #ffbf46;
              &::before{
                content: "";
                height: 100%;
                width: 3px;
                display: block;
                position: absolute;
                left: -60px;
                top: 0;
                background-color: #ffbf46;
              }
            }
            &:not(.active):hover{
              color: #ffbf46;
            }
          }
        }
        .catalog-block{
          margin-top: 100px;
          .title{
            color: #1c1c1c;
            font-size: 15px;
            font-weight: 600;
          }
          .info{
            color: #848e99;
            font-size: 13px;
            font-weight: 400;
            margin-top: 5px;
          }
          .download-link{
            color: #848e99;
            font-size: 13px;
            font-weight: 400;
            text-decoration: underline;
            margin-top: 12px;
            display: inline-block;
            &:hover{
              text-decoration: none;
              color: #34a963;
            }
          }
        }
      }
      .center-block{
        width: calc(100% - 318px - 635px);
        box-sizing: border-box;
        position: relative;
        .images{
          width: 100%;
          height: 100%;
          img{
            display: none;
            &.active{
              display: block;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
        .logo{
          width: 78px;
          position: absolute;
          left: calc(50% - 39px);
          top: calc(50% - 39px);
          img{
            width: 100%;
            display: block;
          }
        }
      }
      .right-block{
        width: 635px;
        box-sizing: border-box;
        padding: 50px 60px 0;
        .why-content{
          display: none;
          .title-row{
            display: flex;
            align-items: center;
            .big-title{
              color: #ffbf46;
              font-size: 60px;
              font-weight: 600;
              font-family: $font2;
            }
            .small-title{
              color: #1c1c1c;
              font-size: 18px;
              font-weight: 600;
              line-height: 22px;
              margin-left: 25px;
            }
          }
          .text{
            margin-top: 20px;
            max-width: 470px;
            color: #1c1c1c;
            font-size: 15px;
            font-weight: 400;
            line-height: 25px;
            span{
              background-color: #ffbf46;
              font-weight: 600;
            }
            a{
              text-decoration: underline;
              color: #1c1c1c;
              &:hover{
                text-decoration: none;
                color: #34a963;
              }
            }
          }
          .btn-white{
            margin-top: 30px;
          }
          &.active{
            display: block;
          }
        }
      }
    }
  }

  .strategy-block{
    margin-top: 110px;
    .block-title{
      text-align: center;
      color: #1c1c1c;
      font-size: 25px;
      font-weight: 500;
    }
    .text{
      color: #1c1c1c;
      font-size: 15px;
      font-weight: 400;
      line-height: 25px;
      margin: 40px auto 0;
      text-align: center;
      max-width: 1040px;
    }
  }

  .big-tabs{
    margin-top: 100px;
    .tabs-titles{
      display: flex;
      .tab-title{
        width: 33.3333%;
        height: 77px;
        background-color: #ffffff;
        color: #1c1c1c;
        font-size: 18px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
        border: 1px solid #dee2e7;
        border-bottom: 0;
        +.tab-title{
          border-left: 0;
        }
        &.active{
          background-color: #f6f8fb;
          &::after{
            content: "";
            height: 1px;
            background-color: #f6f8fb;
            width: 100%;
            position: absolute;
            bottom: -1px;
            left: 0;
          }
        }
      }
    }
    .tabs-content{
      border-top: 1px solid #dee2e7;
      border-bottom: 1px solid #dee2e7;
      background-color: #f6f8fb;
      .tab{
        display: none;
        position: relative;
        z-index: 1;
        &.active{
          display: block;
        }
        &#tabb-1{
          padding: 32px 0;
          .grid-block{
            display: grid;
            grid-gap: 1px;
            background-color: #dee2e7;
            grid-template-columns: 360px 420px 1fr;
            .item{
              height: 266px;
              box-sizing: border-box;
              padding-top: 33px;
              padding-right: 15px;
              background-color: #f6f8fb;
              &:nth-child(2),&:nth-child(4),&:nth-child(6),&:nth-child(7){
                padding-left: 60px;
              }
              .image-block{
                height: 95px;
                display: flex;
                align-items: flex-end;
                img{
                  display: block;
                  max-width: 100%;
                  max-height: 100%;
                }
              }
              .text{
                color: #1c1c1c;
                font-size: 15px;
                font-weight: 400;
                line-height: 22px;
                margin-top: 25px;
              }
            }
            .big-item{
              grid-area: 1 / 3 / 3 / 4;
              background-color: #f6f8fb;
              .image-block{
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                  max-width: 90%;
                  max-height: 90%;
                }
              }
            }
          }
        }
        &#tabb-2{
          height: 869px;
          .map{
            height: 100%;
            width: 100%;
            position: absolute;
            right: 0;
            top: 0;
            z-index: -1;
            svg{
              width: 100%;
              display: block;
              height: 100%;
              position: absolute;
              right: 0;
              top: 0;
            }
          }
          .container{
            pointer-events: none;
            display: flex;
            justify-content: space-between;
            padding-top: 190px;
            align-items: flex-end;
            .title{
              color: #1c1c1c;
              font-size: 15px;
              font-weight: 700;
              text-transform: uppercase;
            }
            .text{
              color: #1c1c1c;
              font-size: 15px;
              font-weight: 400;
              line-height: 25px;
              a{
                text-decoration: underline;
                font-weight: 600;
                color: #1c1c1c;
                &:hover{
                  color: #34a963;
                  text-decoration: none;
                }
              }
            }
            .left-block{
              .top-block{
                .text{
                  width: 430px;
                  margin-top: 35px;
                }
              }
              .bottom-block{
                margin-top: 240px;
                .row{
                  margin-top: 25px;
                  display: flex;
                  .item{
                    width: 130px;
                    .image-block{
                      height: 75px;
                      display: flex;
                      align-items: flex-end;
                      img{
                        display: block;
                      }
                    }
                    .label{
                      color: #1c1c1c;
                      font-size: 15px;
                      font-weight: 500;
                      line-height: 22px;
                      margin-top: 22px;
                    }
                    +.item{
                      margin-left: 72px;
                    }
                  }
                }
              }
            }
            .right-block{
              .text{
                max-width: 470px;
              }
            }
          }
        }
        &#tabb-3{
          padding-bottom: 65px;
          .swiper-container{
            margin: 77px 0;
          }
          .swiper-slide{
            background-color: #eff2f7;
            box-sizing: border-box;
            padding: 45px;
            .image-block{
              height: 70px;
              display: flex;
              align-items: center;
              img{
                display: block;
                max-width: 100%;
                max-height: 100%;
              }
            }
            .title{
              margin-top: 5px;
              color: #1c1c1c;
              font-size: 18px;
              font-weight: 600;
            }
            .type{
              color: #848e99;
              font-size: 13px;
              font-weight: 400;
              margin-top: 5px;
            }
            .text-block{
              margin: 35px 0;
              padding: 35px 0;
              min-height: 312px;
              box-sizing: border-box;
              border-top: 1px solid #dee2e7;
              border-bottom: 1px solid #dee2e7;
              .text{
                color: #1c1c1c;
                font-size: 15px;
                font-style: italic;
                line-height: 25px;
              }
              .name{
                margin-top: 30px;
                color: #1c1c1c;
                font-size: 15px;
                font-weight: 600;
              }
              .role{
                color: #848e99;
                font-size: 13px;
                font-weight: 400;
                margin-top: 10px;
              }
            }
            .letter{
              color: #34a963;
              font-size: 15px;
              font-weight: 600;
              text-decoration: underline;
              &:hover{
                text-decoration: none;
              }
            }
          }
          .swipper-control{
            padding: 5px;
            border-radius: 50px;
            background-color: #eff2f7;
            width: 249px;
            margin: 0 auto;
          }
        }
      }
    }
  }

  .block-title{
    color: #1c1c1c;
    font-size: 25px;
    font-weight: 500;
  }

  .news-tabs{
    margin-top: 100px;
    .container{
      display: flex;
      justify-content: space-between;
      .news-tab{
        .block-title{
          margin-bottom: 50px;
        }
        .all-link{
          margin-top: 55px;
          color: #34a963;
          font-size: 15px;
          font-weight: 600;
          text-decoration: underline;
          display: inline-block;
          &:hover{
            text-decoration: none;
          }
        }
        &#news-tab-1{
          width: 530px;
          .news-list{
            .item{
              display: flex;
              align-items: flex-start;
              justify-content: space-between;
              padding-bottom: 40px;
              position: relative;
              .date{
                width: 52px;
                height: 52px;
                background-color: #34a963;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                color: #ffffff;
                font-size: 13px;
                font-weight: 400;
                line-height: 18px;
                .number{
                  font-size: 25px;
                }
              }
              .text-block{
                width: calc(100% - 75px);
                .title{
                  color: #1c1c1c;
                  font-size: 15px;
                  font-weight: 600;
                  line-height: 22px;
                  a{
                    color: #1c1c1c;
                    &:hover{
                      color: #34a963;
                    }
                  }
                }
                .type{
                  color: #848e99;
                  font-size: 13px;
                  font-weight: 500;
                  margin-top: 5px;
                }
                .text{
                  color: #1c1c1c;
                  font-size: 15px;
                  font-weight: 400;
                  line-height: 25px;
                  margin-top: 13px;
                }
              }
              +.item{
                padding-top: 45px;
                &::before{
                  content: "";
                  height: 1px;
                  display: block;
                  background: #dee2e7;
                  width: calc(100% - 75px);
                  top: 0;
                  right: 0;
                  position: absolute;
                }
              }
              &:last-child{
                padding-bottom: 0;
              }
            }
          }
          .all-link{
            margin-left: 75px;
          }
        }
        &#news-tab-2{
          width: 604px;
          .events-list{
            .first-event{
              width: 100%;
              height: 284px;
              background-size: cover;
              background-position: center;
              a{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                position: relative;
                z-index: 1;
                padding: 44px 55px;
                box-sizing: border-box;
                &::after{
                  z-index: -1;
                  content: "";
                  position: absolute;
                  left: 0;
                  bottom: 0;
                  width: 100%;
                  height: 100%;
                  display: block;
                  background: url("../images/png/grad-podsolnuh.png") left bottom repeat-x;
                }
                .date-block{
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  .date{
                    display: block;
                    padding: 9px 16px;
                    background-color: #34a963;
                    color: #ffffff;
                    font-size: 13px;
                    font-weight: 500;
                    line-height: 13px;
                  }
                  .end-date{
                    display: block;
                    margin-top: 8px;
                    padding: 9px 16px;
                    background-color: #ffbf46;
                    color: #1c1c1c;
                    font-size: 13px;
                    line-height: 13px;
                    font-weight: 500;
                    span{
                      font-weight: 600;
                    }
                  }
                }
                .text{
                  color: #ffffff;
                  font-size: 18px;
                  font-weight: 600;
                  line-height: 25px;
                }
              }
            }
            .event-item{
              margin-top: 65px;
              display: flex;
              align-items: flex-start;
              .image-block{
                width: 180px;
                height: 107px;
                display: block;
                img{
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  display: block;
                }
              }
              .text-block{
                width: calc(100% - 210px);
                margin-left: 30px;
                .title{
                  a{
                    color: #1c1c1c;
                    font-size: 15px;
                    font-weight: 600;
                    &:hover{
                      color: #34a963;
                    }
                  }
                }
                .date{
                  margin-top: 8px;
                  color: #848e99;
                  font-size: 13px;
                  font-weight: 500;
                }
                .text{
                  margin-top: 14px;
                  color: #1c1c1c;
                  font-size: 15px;
                  font-weight: 400;
                  line-height: 25px;
                }
              }
            }
          }
        }

      }
    }
  }

  .partners-block{
    margin-top: 105px;
    .block-title-row{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 50px;
    }
    .swiper-container{
      border: 1px solid #dee2e7;
      background-color: #dee2e7;
      .swiper-slide{
        background: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 145px;
        position: relative;
        img{
          display: block;
          max-width: 100%;
          max-height: 100%;
        }
        .text-block{
          position: absolute;
          left: 100%;
          top: 0;
          display: none;
          padding: 30px;
          min-height: 100%;
          width: 393px;
          box-sizing: border-box;
          background-color: #f6f8fb;
          z-index: 10;
          .label{
            color: #1c1c1c;
            font-size: 13px;
            font-weight: 500;
          }
          .text{
            color: #1c1c1c;
            font-size: 13px;
            font-weight: 400;
            line-height: 23px;
            margin-top: 15px;
          }
        }
        &:hover{
          .text-block{
            display: block;
          }
          &::after{
            content: "";
            display: block;
            position: absolute;
            right: 0;
            top: calc(50% - 16px);
            border: 16px solid transparent;
            border-right: 19px solid #f6f8fb;
          }
        }
        &:nth-child(3n){
          .text-block{
            top: auto;
            bottom: 0;
          }
        }
      }
    }
  }

}
