@media screen and (max-width: 1440px){
  header .logo-line .logo {
    left: 0;
  }
}
@media screen and (max-width: 1250px){
  body{
    &.shadow{
      &::before{
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        display: block;
        background-color: #445055;
        opacity: 0.7;
        z-index: 100;
      }
      header{
        z-index: 101;
        position: relative;
      }
    }
  }
  .container{
    max-width: 720px;
  }
  .btn {
    font-size: 13px;
    padding: 11px 25px;
  }

  #mobile-menu-toggle{
    display: block;
    width: 36px;
    height: 31px;
    background: url("../images/svg/mobile-menu-toggle.svg") center center no-repeat;
    background-size: contain;
    cursor: pointer;
    margin-left: 56px;
    position: relative;
    &::before {
      content: "";
      width: 1px;
      height: 35px;
      display: block;
      position: absolute;
      left: -28px;
      background-color: #dee2e7;
    }
    &.active{
      background-image: url("../images/svg/mobile-menu-toggle-2.svg");
    }
  }
  header .logo-line{
    height: 90px;
  }
  header .logo-line .address,
  header .logo-line .select-lang-block{
    display: none;
  }
  header .logo-line .no-logo>* {
    margin: 0 28px;
  }
  header .logo-line .no-logo>*+::before{
    left: -28px;
  }
  header .logo-line .logo img{
    width: 56px;
  }
  header .logo-line .logo .text-block .title{
    font-size: 16px;
  }
  header .logo-line .logo .text-block .losung{
    font-size: 12px;
    margin-top: 5px;
  }
  header .logo-line .phone{
    font-size: 14px;
  }
  header .menu-line{
    display: none;
  }

  footer{
    font-size: 12px;
    margin-top: 140px;
  }
  footer .menu-line .menu .title,
  footer .menu-line .contacts-block .title{
    font-size: 14px;
  }
  footer .menu-line{
    flex-wrap: wrap;
    padding: 53px 0 40px;
  }
  footer .menu-line .col{
    width: 30%;
  }
  footer .menu-line .col:nth-child(4){
    margin-left: 0;
    width: 100%;
    margin-top: 35px;
    padding-top: 35px;
    border-top: 1px solid #59656a;
  }
  footer .menu-line .contacts-block{
    max-width: 100%;

  }
  footer .menu-line .contacts-block .block .label{
    font-size: 12px;
  }
  footer .menu-line .contacts-block .block+.block {
    margin-top: 0px;
  }
  footer .menu-line .contacts-block .block .phone-link{
    font-size: 16px;
  }
  footer .menu-line .contacts-block .phones{
    display: flex;
    justify-content: space-between;
    .block{
      width: 30%;
    }
  }
  footer .menu-line .contacts-block .block.mgn-more{
    margin-top: 0;
  }
  footer .menu-line .contacts-block .address-email-block{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    >.mgn-more{
      width: 30%;
    }
  }
  footer .menu-line .contacts-block .soc-email-block{
    width: 65%;
  }
  footer .copy-line{
    flex-wrap: wrap;
    padding: 37px 0 37px;
    .col:nth-child(2){
      order: 3;
      width: 100%;
      margin-top: 20px;
    }
  }
  footer .copy-line .col:nth-child(3) a .image{
    width: 121px;
  }

  header .container{
    position: relative;
  }
  .mobile-header-menu{
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #f4f7fa;
    z-index: 200;
    .menu{
      display: block;
      list-style: none;
      width: 100%;
      .level-1{
        display: block;
        border-bottom: 1px solid #dee2e7;
        >a{
          color: #000000;
          font-size: 16px;
          font-weight: 600;
          background: url(../images/svg/arr-down-menu.svg) right 30px center no-repeat;
          padding: 30px;
          display: block;
        }
        &.no_child{
          >a{
            background-image: none;
          }
        }
        &.product-link{
          >a{
            background-image: url(../images/svg/arr-bread.svg);
          }
        }

        .dropdown-block{
          display: none;
          padding: 0 30px;
          .menu-item{
            padding: 15px 0;
            > a{
              color: #1c1c1c;
              font-size: 13px;
              font-weight: 400;
              &:hover{
                color: #34a963;
              }
            }
            .inner-menu{
              padding: 15px;
              border-top: 1px solid #dee2e7;
              border-bottom: 1px solid #dee2e7;
              display: none;
              margin-top: 15px;
              >div{
                +div{
                  margin-top: 15px;
                }
              }
              a{
                color: #848e99;
                font-size: 13px;
                font-weight: 400;
                line-height: 20px;
                &:hover{
                  color: #34a963;
                }
              }
            }
            &.parent{
              position: relative;
              &::before{
                content: "";
                display: block;
                width: 15px;
                height: 15px;
                background: url("../images/svg/arr-down-menu.svg") center center no-repeat;
                position: absolute;
                top: 17px;
                right: 0;
              }
              &:hover{
                padding-bottom: 0;
                > a{
                  color: #34a963;
                }
                &::before{
                  background-image: url("../images/svg/arr-up-menu.svg");
                }
              }
            }
          }
        }

        &.open{
          >a{
            background-image: url(../images/svg/arr-up-menu.svg);
            color: #34a963;
          }
          .dropdown-block{
            border-top: 3px solid #34a963;
            border-bottom: 3px solid #34a963;
          }
        }
      }
    }
    .mobile-products{
      width: 100%;
      background: #445055;
      display: none;
      .back-to-menu{
        background: #FFFFFF;
        padding: 15px 30px;
        display: flex;
        align-items: center;
        span{
          margin-left: 15px;
          color: #000000;
          font-size: 13px;
          font-weight: 600;
        }
      }
    }
    .multiple>[data-accordion] {
      border-bottom: 1px solid #5b696e;

      &>[data-control] {
        cursor: pointer;
        background: transparent;
        display: block;
        width: 100%;
        box-sizing: border-box;
        border: 0;
        outline: none;
        text-align: left;
        color: #fff;
        font-size: 18px;
        line-height: 22px;
        padding: 29px 65px 24px 46px;
        font-weight: 600;
        font-family: Montserrat, sans-serif;

        &:after {
          width: 10px;
          height: 5px;
          background: url("../images/svg/arr-down-w.svg") no-repeat center top;
          top: 39px;
          right: 28px;
        }
      }

      [data-content] {
        [data-accordion]:not(#filter) {
          border-left: 3px solid transparent;

          [data-content] {
            *:last-child {
              margin-bottom: 20px;
            }
          }

          a {
            padding-top: 0;
            padding-left: 15px;
            padding-bottom: 15px;
          }

          &.open {
            border-color: transparent;
            border-left: 3px solid #34a963;
            background: #3d464a;
            margin-left: 0;
            margin-right: 0;
            padding-left: 23px;
            padding-right: 23px;

            [data-control] {
              color: #34a963;
            }

            [data-control]:after {
              transform: rotate(180deg);
            }
          }

          &.open+div {
            border-top-color: transparent;
            position: relative;

            &.open {
              border-top: 0;

              &::before {
                content: "";
                width: calc(100% + 3px);
                height: 1px;
                position: absolute;
                left: -3px;
                top: 0;
                display: block;
                background: #424d52;
              }
            }
          }
        }

        &>div+div {
          border-top: 1px solid #5b696e;

        }

        &>div {
          margin-left: 23px;
          margin-right: 23px;
        }

        a,
        [data-control] {
          margin-left: 23px;
          margin-right: 23px;
          box-sizing: border-box;
          padding-left: 0;
          display: block;
          padding-top: 18px;
          padding-bottom: 17px;
          font-size: 13px;
          color: #c1c9d2;
          line-height: 20px;
          text-align: left;
          background: transparent;
          border: 0;
          outline: none;
          padding-right: 18px;


          &:hover {
            color: #fff;
          }

        }

        [data-control] {
          cursor: pointer;
          font-family: Montserrat, sans-serif;
        ;
          display: block;
          width: calc(100% - 46px);

          &:after {
            width: 10px;
            height: 5px;
            background: url("../images/svg/arr-down-w.svg") no-repeat center top;
            top: 28px;
            right: -23px;
          }
        }

        & #filter {

          margin-left: 0;
          margin-right: 0;
          border: 0;
          background: transparent;
          padding: 0;

          &+div {
            border-top-color: transparent;
          }


          &>[data-control] {
            //margin-bottom: 8px;
            padding-top: 28px;
            padding-bottom: 26px;
            border-bottom: 3px solid #34a963;
            font-size: 18px;
            font-weight: 500;
            margin-left: 0;
            margin-right: 0;
            color: #fff;
            width: 100%;
            padding-left: 46px;

            &:after {
              right: 28px;
              top: 28px;
              width: 19px;
              height: 19px;
              border-radius: 50%;
              background: #34a963 url("../images/svg/arr-down-w.svg") no-repeat center center;
              transform: rotate(-90deg);
            }

            &:hover {
              &:after {
                background-color: #3bc071;
              }
            }
          }

          &.open {
            border-bottom: 3px solid #34a963;

            ~div {
              display: none;
            }
          }

          &.open>[data-control] {
            background-color: #34a963;

            &:hover {
              background: #3bc071;
            }

            &:after {
              width: 20px;
              height: 20px;
              background-image: url("../images/svg/close-menu.svg");
              background-color: transparent;
            }
          }

          &.open [data-control] {
            color: #ffffff;

            &:after {}
          }

          [data-content] [data-accordion] {
            [data-control] {
              color: #c1c9d2;
            }
          }

          [data-content] [data-accordion].open {
            [data-control] {
              color: #fff;
            }
          }

          .filter_button {
            font-size: 15px;
            display: block;
            width: calc(100% - 46px);
            padding: 0;
            color: #fff;
            background: #34a963;
            height: 50px;
            border: 0;
            outline: none;
            box-sizing: border-box;
            cursor: pointer;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 35px;
            margin-top: 35px;

            &:hover {
              background: #3bc071;
            }
          }
        }
      }

      &.open>[data-content] {
        border-top: 3px solid #34a963;
        border-bottom: 3px solid #34a963;
      }

      .check-sq {
        margin-left: 23px;

        +.check-sq {
          margin-top: 15px;
        }
      }
    }
  }
  .page-wrapper{
    &.over{
      position: relative;
      &::before{
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }

  }
  .mobile-row{
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 999px) {
  #breadcrumbs ul{
    font-size: 14px;
    padding-top: 25px;
    padding-bottom: 24px;
  }
  #breadcrumbs ul li{
    margin-right: 19px;
  }
  #breadcrumbs ul li:after{
    margin-left: 24px;
  }
  .big-banner-page{
    font-size: 27px;
    line-height: 40px;
    height: 250px;
  }
  .big-banner-page p{
    margin-bottom: 0;
  }
}


@media screen and (max-width: 700px) {
  #breadcrumbs ul{
    font-size: 13px;
  }
  #breadcrumbs ul li:after{
    margin-left: 14px;
  }
  #breadcrumbs ul li{
    margin-right: 9px;
    display: inline-block;
  }
  .big-banner-page{
    display: none;
  }

  .container{
    max-width: calc(100% - 30px);
  }
  header{
    border-bottom: 0;
  }
  header .logo-line{
    height: 87px;
  }
  header .logo-line .no-logo{
    display: none;
  }
  header .logo-line .logo img{
    width: 46px;
    margin-right: 13px;
  }
  header .logo-line .logo .text-block .title {
    font-size: 12px;
  }
  header .logo-line .logo .text-block .losung {
    font-size: 10px;
    margin-top: 3px;
  }
  header .phone-mobile{
    display: block;
    position: relative;
    margin: 0 16px;
    width: 32px;
    height: 32px;
    background: url("../images/png/i-mob-phone.png");
    &::before {
      content: "";
      width: 1px;
      height: 35px;
      display: block;
      position: absolute;
      left: -16px;
      background-color: #dee2e7;
    }
  }
  #mobile-menu-toggle {
    width: 32px;
    height: 29px;
    margin-left: 16px;
    &::before{
      left: -16px;
    }
  }

  .footer{
    margin-top: 80px;
  }
  footer .menu-line {
    padding: 44px 0 35px;
  }
  footer .menu-line .col:not(:last-child){
    display: none;
  }
  footer .menu-line .col:nth-child(4){
    margin-top: 0;
    padding-top: 0;
    border-top: 0;
  }
  footer .menu-line .contacts-block .phones{
    display: block;
  }
  footer .menu-line .contacts-block .phones .block{
    width: 100%;
  }

  footer .menu-line .contacts-block .address-email-block,
  footer .menu-line .contacts-block .block+.block{
    margin-top: 20px;
  }
  footer .menu-line .contacts-block .address-email-block{
    display: block;
  }
  footer .menu-line .contacts-block .address-email-block>.mgn-more{
    width: 100%;
  }
  footer .menu-line .contacts-block .soc-email-block{
    width: 100%;
    margin-top: 20px;
  }
  footer .menu-line .contacts-block .soc-block{
    display: none;
  }
  footer .copy-line .col:nth-child(1) .copy-2{
    display: none;
  }
  footer .copy-line .col:nth-child(2){
    display: none;
  }
  footer .copy-line{
    display: block;
  }
  footer .copy-line .col:nth-child(3) a{
    margin-top: 30px;
    .image{
      display: none;
    }
    .label,
    span{
      display: inline;
    }
  }
}