$font1: 'Montserrat', sans-serif;
$font2: "Montserrat", sans-serif;

a{
	text-decoration: none;
}

html,body{
}


body{
	color: #000000;
	font-family: $font1;
	font-size: 14px;
	margin: 0;
	background: #ffffff;
}
.container{
	max-width: 1240px;
	width: 96%;
	margin: 0 auto;
	box-sizing: border-box;
}

#jGrowl{
  z-index: 999999;
}

.hide{
	display: none;
}

.btn {
	font-family: $font1;
	border-radius: 50px;
	border: 2px solid #dee2e7;
	background-color: transparent;
	padding: 12px 25px;
	box-sizing: border-box;
	text-align: center;
	cursor: pointer;
	max-width: 100%;
	display: inline-block;
	position: relative;
	z-index: 1;
	color: #34a963;
	font-weight: 400;
	text-transform: uppercase;
	vertical-align: middle;
	span{
	vertical-align: middle;
	}
	&:focus{
	outline: none;
	}
	&.btn-white{
	color: #34a963;
	border: 2px solid #dee2e7;
	background-color: transparent;
	&::after{
	  content: "";
	  display: inline-block;
	  width: 19px;
	  height: 19px;
	  background: #34a963 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='9' viewBox='0 0 5 9'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23eaeff5' d='M-.002 8.996l3.248-4.497-3.248-4.5h1.755l3.249 4.5-3.249 4.497z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") center center no-repeat;
	  border-radius: 100%;
	  margin-left: 15px;
	  vertical-align: middle;
	}
	&:hover{
		color: #ffffff;
		border: 2px solid #34a963;
		background-color: #34a963;
		&::after{
			content: "";
			display: inline-block;
			width: 19px;
			height: 19px;
			background: #ffffff url("data:image/svg+xml,%3Csvg width='5' height='9' xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 5 9'%3E%3Cg%3E%3Cg%3E%3Cpath d='M-0.00211,8.99673v0l3.24829,-4.49797v0l-3.24829,-4.49845v0h1.75541v0l3.24852,4.49845v0l-3.24852,4.49797v0z' fill='%2334a963' fill-opacity='1'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E") center center no-repeat;
			border-radius: 100%;
			margin-left: 15px;
			vertical-align: middle;
		}
	}
	}
	&.btn-green{
		color: #ffffff;
		border: 2px solid #34a963;
		background-color: #34a963;
		&::after{
			content: "";
			display: inline-block;
			width: 19px;
			height: 19px;
			background: #ffffff url("data:image/svg+xml,%3Csvg width='5' height='9' xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 5 9'%3E%3Cg%3E%3Cg%3E%3Cpath d='M-0.00211,8.99673v0l3.24829,-4.49797v0l-3.24829,-4.49845v0h1.75541v0l3.24852,4.49845v0l-3.24852,4.49797v0z' fill='%2334a963' fill-opacity='1'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E") center center no-repeat;
			border-radius: 100%;
			margin-left: 15px;
			vertical-align: middle;
		}
		&:hover{
			border-color: #1c1c1c;
		}
	}
}

.radio{
	input[type=checkbox] {
		margin: 0;
		margin-right: 10px;
		vertical-align: middle;
		outline: none!important;
		-webkit-appearance: none;
		-moz-appearance: none;
		width: 15px;
		min-width: 15px;
		height: 15px;
		border: 1px solid #dee2e7;
		border-radius: 25px;
		cursor: pointer;
		background: #ffffff;
		&:checked{
			background: #FFF url(../images/svg/radio.svg) no-repeat center center;
		}
	}
	span{
		color: #848e99;
		font-size: 13px;
		font-weight: 300;
		line-height: 18px;
	}
}

.check-sq {
	display: block;
	position: relative;
	padding-left: 24px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.check-sq input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 14px;
	width: 14px;
	box-sizing: border-box;
	background-color: transparent;
	border: 1px solid #5b696e;
}
.check-sq:hover input ~ .checkmark {

}
.check-sq  .label{
	color: #c1c9d2;
	font-size: 13px;
	font-weight: 400;
	line-height: 17px;
}
/* When the checkbox is checked, add a blue background */
.check-sq input:checked ~ .label {
	color: #ffffff;
}


.check-sq input:checked ~ .checkmark:after {
	display: block;
}

.check-sq .checkmark:after {
	content: "";
	position: absolute;
	display: none;
	left: 2px;
	top: 2px;
	width: 8px;
	height: 8px;
	background-color: #34a963;
}

.plus-minus{
	display: flex;
	width: 120px;
	height: 34px;
	position: relative;
	overflow: hidden;
	.plus, .minus{
		width: 34px;
		height: 100%;
		background-color: #ffffff;
		background-position: center center;
		background-repeat: no-repeat;
		cursor: pointer;
		position: absolute;
		border: 1px solid #dee2e7;
		box-sizing: border-box;
		top: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		&:hover{
			background-color: #34a963;
			border-color: #34a963;
			img{
				filter: brightness(100);
			}
		}
		&.plus{
			right: 0;
		}
		&.minus{
			left: 0;
		}
	}
	input{
		width: 100%;
		height: 100%;
		background: #ffffff;
		box-sizing: border-box;
		border: 1px solid #dee2e7;
		margin: 0;
		padding: 0 34px;
		text-align: center;
		font-size: 15px;
		color: #1c1c1c;
		font-family: $font1;
		&:focus{
			outline: none;
		}
	}
}

header{
	background: #ffffff;
	border-bottom: 5px solid #34a963;
	.logo-line{
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 120px;
		.logo{
			position: relative;
			left: -79px;
			display: flex;
			align-items: center;
			img{
				display: block;
				margin-right: 17px;
			}
			.text-block{
				display: flex;
				justify-content: center;
				flex-direction: column;
				.title{
					color: #1c1c1c;
					font-size: 18px;
					font-weight: 700;
				}
				.losung{
					margin-top: 6px;
					color: #848e99;
					font-size: 13px;
					font-weight: 400;
				}
			}
		}
		.address{
			color: #000000;
			font-size: 15px;
			font-weight: 400;
		}
		.phone{
			color: #000000;
			font-size: 15px;
			font-weight: 600;
			display: inline-block;
			span{
				font-weight: 400;
				color: #848e99;
				margin-right: 5px;
			}
			&:hover{
				color: #34a963;
				span{
					color: #34a963;
				}
			}
		}
		.select-lang-block{
			> a{
				color: #1c1c1c;
				font-size: 15px;
				font-weight: 400;
				padding: 0 24px 0 39px;
				position: relative;
				display: inline-block;
				&::before{
					content: "";
					display: block;
					width: 23px;
					height: 23px;
					position: absolute;
					left: 0;
					top: calc(50% - 11px);
					background: url("../images/png/i-lang.png") center center no-repeat;
					background-size: contain;
				}

				&::after{
					content: "";
					display: block;
					width: 10px;
					height: 5px;
					position: absolute;
					right: 0;
					top: calc(50% - 1px);
					background: url("../images/svg/arr-lang.svg") center center no-repeat;
					background-size: contain;
				}
				&:hover{
					color: #34a963;
				}
				&:hover::before{
					background-image: url("../images/png/i-lang-2.png");
				}
				&:hover::after{
					transform: rotate(180deg);
				}
			}
			.more-langs{
				padding: 10px 18px 10px;
				background: #ffffff;
				border: 1px solid #dee2e7;
				position: absolute;
				top: 100%;
				right: 0;
				display: none;
				flex-direction: column;
				align-items: flex-end;
				box-sizing: border-box;
				margin-top: 5px;
				&.active{
					display: flex;
				}
				a{
					font-size: 15px;
					font-weight: 400;
					line-height: 30px;
					color: #1c1c1c;
					&:hover{
						color: #34a963;
					}
				}
			}
		}
		.search{
			display: inline-block;
			img{
				display: block;
				&.hide{
					display: none;
				}
			}
			&:hover{
				img:first-child{
					display: none;
				}
				img.hide{
					display: block;
				}
			}
		}
		.cart{
			display: inline-block;
			img{
				display: block;
				&.hide{
					display: none;
				}
			}
			&:hover{
				img:first-child{
					display: none;
				}
				img.hide{
					display: block;
				}
			}
		}

		.no-logo{
			display: flex;
			justify-content: space-between;
			align-items: center;
			> *{
				margin: 0 30px;
				position: relative;
				display: flex;
				align-items: center;
				&:last-child{
					margin-right: 0;
				}
				+ *{
					&::before{
						content: "";
						width: 1px;
						height: 35px;
						display: block;
						position: absolute;
						left: -30px;
						background-color: #dee2e7;
					}
				}
			}
		}
	}
	.menu-line{
		border-top: 1px solid #dee2e7;
		position: relative;
		.menu{
			list-style: none;
			display: flex;
			justify-content: space-between;
			height: 62px;
			align-items: center;

			.drop-block{
				display: none;
				padding: 40px 58px;
				box-sizing: border-box;
				width: 100%;
				position: absolute;
				top: 100%;
				left: 0;
				background-color: #f4f7fa;
				margin-top: 5px;
				z-index: 15;
				&.drop-block-1{
					padding: 0;
					.flex-block{
						display: flex;
						justify-content: space-between;
						padding: 50px 0;
						.col{
							width: 33.3333%;
							box-sizing: border-box;
							display: flex;
							flex-direction: column;
							padding: 0 60px;
							+.col{
								border-left: 1px solid #dee2e7;
							}
						}
						.block-title{
							color: #34a963;
							font-size: 18px;
							font-weight: 600;
							text-decoration: underline;
							margin-bottom: 20px;
							line-height: 25px;
							&:hover{
								text-decoration: none;
							}
						}
						.menu-list{
							.menu-item{
								padding: 15px 0;
								> a{
									color: #1c1c1c;
									font-size: 13px;
									font-weight: 400;
									&:hover{
										color: #34a963;
									}
								}
								.inner-menu{
									padding: 15px;
									border-top: 1px solid #dee2e7;
									border-bottom: 1px solid #dee2e7;
									display: none;
									margin-top: 15px;
									>div{
										+div{
											margin-top: 15px;
										}
									}
									a{
										color: #848e99;
										font-size: 13px;
										font-weight: 400;
										line-height: 20px;
										&:hover{
											color: #34a963;
										}
									}
								}
								&.parent{
									position: relative;
									&::before{
										content: "";
										display: block;
										width: 15px;
										height: 15px;
										background: url("../images/svg/arr-down-menu.svg") center center no-repeat;
										position: absolute;
										top: 17px;
										right: -30px;
									}
									&:hover{
										padding-bottom: 0;
										> a{
											color: #34a963;
										}
										&::before{
											background-image: url("../images/svg/arr-up-menu.svg");
										}
									}
								}
								&:last-child{
									padding-bottom: 0;
								}
							}
						}
						.col-3{
							.block-title{
								margin-bottom: 50px;
							}
							.company-life-list{
								position: relative;
								.item{
									.image-block{
										width: 100%;
										height: 125px;
										a{
											display: block;
											width: 100%;
											height: 100%;
											position: relative;
											img{
												display: block;
												width: 100%;
												height: 100%;
												object-fit: cover;
											}
											.images-count{
												position: absolute;
												right: 16px;
												top: 16px;
												width: 29px;
												height: 29px;
												background: url("../images/svg/images-count.svg") center center no-repeat;
												span{
													position: absolute;
													left: 0;
													bottom: 0;
													width: 24px;
													height: 24px;
													display: flex;
													text-align: center;
													align-items: center;
													justify-content: center;
													color: #1c1c1c;
													font-size: 13px;
													font-weight: 400;
													line-height: 13px;
												}
											}
										}
									}
									+.item{
										margin-top: 33px;
									}
									.date{
										color: #848e99;
										font-size: 13px;
										font-weight: 500;
										margin-top: 20px;
									}
									.title{
										color: #1c1c1c;
										font-size: 13px;
										font-weight: 500;
										line-height: 20px;
										margin-top: 10px;
										a{
											color: #1c1c1c;
											&:hover{
												color: #34a963;
											}
										}
									}
								}
								.arrow-down{
									position: absolute;
									bottom: 0;
									right: -33px;
									height: 11px;
									width: 11px;
									background: url("../images/svg/arr-down-double.svg") center center no-repeat;
								}
							}
						}
					}
				}
				&.drop-block-2{
					padding: 0;
					.flex-block{
						display: flex;
						justify-content: space-between;
						padding: 50px 0;
						.col{
							width: 33.3333%;
							box-sizing: border-box;
							display: flex;
							flex-direction: column;
							padding: 0 60px;
							+.col{
								border-left: 1px solid #dee2e7;
							}
						}
						.block-title{
							color: #34a963;
							font-size: 18px;
							font-weight: 600;
							text-decoration: underline;
							margin-bottom: 20px;
							&:hover{
								text-decoration: none;
							}
						}
						.menu-list{
							.menu-item{
								padding: 15px 0;
								> a{
									color: #1c1c1c;
									font-size: 13px;
									font-weight: 400;
									&:hover{
										color: #34a963;
									}
								}
								.inner-menu{
									padding: 15px;
									border-top: 1px solid #dee2e7;
									border-bottom: 1px solid #dee2e7;
									display: none;
									margin-top: 15px;
									>div{
										+div{
											margin-top: 15px;
										}
									}
									a{
										color: #848e99;
										font-size: 13px;
										font-weight: 400;
										line-height: 20px;
										&:hover{
											color: #34a963;
										}
									}
								}
								&.parent{
									position: relative;
									&::before{
										content: "";
										display: block;
										width: 15px;
										height: 15px;
										background: url("../images/svg/arr-down-menu.svg") center center no-repeat;
										position: absolute;
										top: 17px;
										right: -30px;
									}
									&:hover{
										padding-bottom: 0;
										> a{
											color: #34a963;
										}
										&::before{
											background-image: url("../images/svg/arr-up-menu.svg");
										}
									}
								}
								&:last-child{
									padding-bottom: 0;
								}
							}
						}
						.sale-block{
							margin-top: 55px;
							flex-grow: 1;
							border-top: 1px solid #dee2e7;
							border-left: 1px solid #dee2e7;
							padding: 50px 60px;
							margin-left: -61px;
							margin-right: -60px;
							margin-bottom: -50px;
							background-color: #eff2f7;
							.procent{
								color: #ffbf46;
								font-size: 50px;
								font-weight: 600;
							}
							.title{
								font-size: 13px;
								font-weight: 600;
								color: #1c1c1c;
								margin-top: 35px;
							}
							.text{
								font-size: 13px;
								font-weight: 400;
								color: #848e99;
								line-height: 20px;
								margin-top: 12px;
							}
							.btn{
								margin-top: 75px;
							}
						}
					}
				}
				&.drop-block-3{
					.list{
						column-count: 3;
						column-rule:  1px solid #dee2e7;
						column-gap: 120px;
						div{
							+div{
								margin-top: 25px;
							}
						}
						a{
							color: #1c1c1c;
							font-size: 13px;
							font-weight: 400;
							line-height: 20px;
							&:hover{
								color: #34a963;
							}
						}
					}
				}
				&.drop-block-4{
					padding: 0;
					.flex-block{
						display: flex;
						.block-title{
							color: #000000;
							font-size: 18px;
							font-weight: 600;
							margin-bottom: 50px;
							a{
								color: #34a963;
								text-decoration: underline;
								&:hover{
									text-decoration: none;
								}
							}
						}
						.menu-col{
							width: 410px;
							border-right: 1px solid #dee2e7;
							.block{
								padding: 45px 60px;
								.menu-list{
									> div{
										+div{
											margin-top: 20px;
										}
									}
									a{
										color: #1c1c1c;
										font-size: 13px;
										font-weight: 400;
										&:hover{
											color: #34a963;
										}
									}
								}
								+.block{
									border-top: 1px solid #dee2e7;
								}
							}
						}
						.diler-col{
							flex-grow: 1;
							.block-title{
								padding: 45px 0 0 60px;
							}
							.table-block{
								display: flex;
								padding: 0 60px 50px;
								.list{
									width: 220px;
									border-right: 1px solid #dee2e7;
									.list-item{
										padding-bottom: 30px;
										border-bottom: 1px solid transparent;
										a{
											display: flex;
											align-items: center;
											justify-content: flex-start;
											opacity: 0.5;
											&:hover{
												opacity: 1;
											}
											span{
												color: #1c1c1c;
												font-size: 15px;
												font-weight: 600;
												margin-left: 15px;
											}
										}
										&.active{
											border-bottom: 1px solid #dee2e7;
											a{
												opacity: 1;
											}
										}
										+.list-item{
											padding-top: 30px;
										}
									}
								}
								.diler-list{
									flex-grow: 1;
									.diler{
										display: none;
										&.active{
											display: block;
										}
										.block{
											+.block{
												margin-top: 45px;
											}
											.title{
												color: #1c1c1c;
												font-size: 15px;
												font-weight: 600;
												padding-left: 60px;
												border-bottom: 1px solid #dee2e7;
												padding-bottom: 30px;
												line-height: 19px;
											}
											.items{
												padding-left: 60px;
												.item{
													height: 40px;
													display: flex;
													justify-content: space-between;
													align-items: center;
													border-bottom: 1px solid #dee2e7;
													.label{
														color: #1c1c1c;
														font-size: 13px;
														font-weight: 400;
													}
													.city{
														color: #848e99;
														font-size: 13px;
														font-weight: 400;
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
				&.drop-block-5{
					padding: 50px 40px 60px;
					.block-title{
						margin-bottom: 35px;
						a{
							color: #34a963;
							font-size: 18px;
							font-weight: 600;
							text-decoration: underline;
							&:hover{
								text-decoration: none;
							}
						}
					}
					.flex-block{
						display: flex;
						justify-content: space-between;
					}
					.news-block{
						width: 539px;
						box-sizing: border-box;
						padding-right: 40px;
						.item{
							padding-bottom: 28px;
							+.item{
								padding-top: 28px;
								border-top: 1px solid #dee2e7;
							}
							&:last-child{
								padding-bottom: 0;
							}
							.date{
								color: #848e99;
								font-size: 13px;
								font-weight: 500;
							}
							.title{
								color: #1c1c1c;
								font-size: 15px;
								font-weight: 600;
								line-height: 22px;
								margin-top: 5px;
								a{
									color: #1c1c1c;
									&:hover{
										color: #34a963;
									}
								}
							}
							.type{
								color: #34a963;
								font-size: 13px;
								font-weight: 400;
								margin-top: 15px;
								a{
									color: #34a963;
									&:hover{
										text-decoration: underline;
									}
								}
							}
						}
					}
					.events-block{
						flex-grow: 1;
						padding-left: 40px;
						border-left: 1px solid #dee2e7;
						.item{
							padding-bottom: 40px;
							display: flex;
							+.item{
								padding-top: 40px;
								border-top: 1px solid #dee2e7;
							}
							&:last-child{
								padding-bottom: 0;
							}
							.image-block{
								height: 125px;
								width: 171px;
								a{
									width: 100%;
									height: 100%;
									display: block;
									img{
										display: block;
										width: 100%;
										height: 100%;
										object-fit: cover;
									}
								}
							}
							.text-block{
								margin-left: 30px;
								display: flex;
								flex-direction: column;
								justify-content: space-between;
								.title{;
									color: #1c1c1c;
									font-size: 15px;
									font-weight: 600;
									line-height: 22px;
									a{
										color: #1c1c1c;
										&:hover{
											color: #34a963;
										}
									}
								}
								.type{
									color: #848e99;
									font-size: 13px;
									font-weight: 400;
									margin-top: 5px;
								}
								.info-row{
									display: flex;
									.block{
										min-width: 95px;
										+.block{
											margin-left: 15px;
										}
										.label{
											color: #1c1c1c;
											font-size: 13px;
											font-weight: 500;
										}
										.text{
											margin-top: 5px;
											color: #848e99;
											font-size: 13px;
											font-weight: 400;
										}
									}
								}
							}
						}
					}
				}
				&.drop-block-6{
					padding: 0;
					.flex-block{
						display: flex;
						justify-content: space-between;
						padding: 50px 0;
						.col{
							width: 33.3333%;
							box-sizing: border-box;
							display: flex;
							flex-direction: column;
							padding: 0 60px;
							+.col{
								border-left: 1px solid #dee2e7;
							}
							&.col-3{
								.item{
									&:last-child{
										flex-grow: 1;
										border-left: 1px solid #dee2e7;
										padding: 50px 60px;
										margin-left: -61px;
										margin-right: -60px;
										margin-bottom: -50px;
										background-color: #eff2f7;
									}
								}
							}
						}
						.item{
							padding-bottom: 30px;
							+.item{
								padding-top: 30px;
								border-top: 1px solid #dee2e7;
							}
							&:last-child{
								padding-bottom: 0;
							}
							.title{
								color: #1c1c1c;
								font-size: 15px;
								font-weight: 600;
								line-height: 22px;
							}
							> * + .title{
								margin-top: 35px;
							}
							.phones{
								display: flex;
								flex-direction: column;
								align-items: flex-start;
								margin-top: 18px;
								a{
									color: #1c1c1c;
									font-size: 15px;
									font-weight: 400;
									line-height: 22px;
									&:hover{
										color: #34a963;
									}
								}
							}
							.emails{
								display: flex;
								flex-direction: column;
								align-items: flex-start;
								margin-top: 12px;
								a{
									color: #1c1c1c;
									font-size: 13px;
									font-weight: 400;
									line-height: 20px;
									text-decoration: underline;
									&:hover{
										color: #34a963;
										text-decoration: none;
									}
								}
							}
							.address{
								color: #1c1c1c;
								font-size: 15px;
								font-weight: 400;
								line-height: 22px;
								margin-top: 18px;
							}
						}
					}
				}
			}
			.haschild{
				> a{
					display: inline-block;
					padding-right: 28px;
					background: url("../images/svg/arr-down-menu.svg") right center no-repeat;
				}

				&:hover{
					> a{
						background-image: url("../images/svg/arr-up-menu.svg");
						color: #34a963;
						+.drop-block{
							&::before{
								content: "";
								position: absolute;
								top: -5px;
								height: 5px;
								width: 100%;
								left: 0;
								display: block;
							}
							display: block;
						}
					}
				}
			}
			.level-1{
				height: 100%;
				display: flex;
				align-items: center;
				>a{
					color: #1c1c1c;
					font-size: 15px;
					font-weight: 500;
					letter-spacing: 0.03px;
					&:hover{
						color: #34a963;
					}
				}
				&.callback-link{
					a{
						color: #34a963;
						font-weight: 600;
					}
				}
			}
		}
	}
}

footer{
	color: #848e99;
	background-color: #445055;
	font-size: 13px;
	line-height: 20px;
	margin-top: 150px;
	.menu-line{
		padding: 95px 0 55px;
		display: flex;
		justify-content: space-between;
		.col{
			&:nth-child(4){
				margin-left: 100px;
			}
		}
		.menu{
			max-width: 212px;
			+ .menu{
				margin-top: 20px;
			}
			.title{
				color: #ffffff;
				font-size: 15px;
				font-weight: 500;
				a{
					color: #ffffff;
					&:hover{
						color: #34a963;
					}
				}
			}
			.submenu{
				list-style: none;
				margin-top: 20px;
				li{
					+ li{
						margin-top: 10px;
					}
				}
				a{
					color: #848e99;
					&:hover{
						color: #34a963;
					}
				}
			}
		}
		.contacts-block{
			max-width: 265px;
			.title{
				color: #ffffff;
				font-size: 15px;
				font-weight: 500;
				margin-bottom: 20px;
				&:hover{
					color: #34a963;
				}
			}
			.phones{
				margin-top: 14px;
			}
			.block{
				+.block{
					margin-top: 14px;
				}
				&.mgn-more{
					margin-top: 22px;
				}
				.label{
					color: #848e99;
					font-size: 13px;
					font-weight: 400;
				}
				.phone-link{
					color: #ffffff;
					font-size: 18px;
					font-weight: 600;
					margin-top: 10px;
					display: inline-block;
					span{
						font-weight: 400;
					}
					&:hover{
						color: #34a963;
						span{
							color: #34a963;
						}
					}
				}
				.address{
					color: #ffffff;
					font-size: 13px;
					font-weight: 400;
					margin-top: 10px;
				}
				.mail-link{
					color: #848e99;
					font-size: 13px;
					font-weight: 400;
					&:hover{
						color: #34a963;
					}
				}
			}
			.soc-block{
				display: flex;
				width: 203px;
				align-items: center;
				justify-content: space-between;
				margin-top: 37px;
				.soc-link{
					img{
						display: block;
					}
					.hide{
						display: none;
					}
					&:hover{
						img:nth-child(1){
							display: none;
						}
						img.hide{
							display: block;
						}
					}
				}
			}
		}
	}
	.copy-line{
		border-top: 1px solid #59656a;
		padding: 55px 0 75px;
		display: flex;
		justify-content: space-between;
		.col{
			&:nth-child(1){
				max-width: 475px;
				.copy-2{
					margin-top: 20px;
				}
			}
			&:nth-child(3){
				a{
					display: block;
					color: #848e99;
					.image{
						width: 129px;
						height: 49px;
						margin-top: 8px;
						display: block;
						background: url("../images/png/dev-logo.png") left center no-repeat;
						background-size: contain;
					}
					&:hover{
						color: #34a963;
						.image{
							background-image: url("../images/png/dev-logo-2.png");
						}
					}
				}
			}
		}
		a{
			color: #848e99;
			&:hover{
				color: #34a963;
			}
		}
	}
}

#breadcrumbs ul{
	padding-top: 53px;
	font-size: 15px;
	line-height: 25px;
	padding-bottom: 53px;

	li {
		display: inline;
		vertical-align: top;
		margin-right: 15px;

		&.prelast{
			&:after{
				background: url("../images/svg/arr-bread-b.svg");
			}
		}

		&:after {
			content: '';
			display: inline-block;
			vertical-align: middle;
			margin-top: -2px;
			width: 5px;
			height: 9px;
			background: url("../images/svg/arr-bread.svg");
			margin-left: 20px;
		}

		a{
			color: #848e99;
			&:hover{
				color: #34a963;
			}
		}
	}

	li:last-child:after{
		display: none;
	}
}

.big-banner-page{
	height: 321px;
	background-size: cover;
	background-position: center center;
	font-weight: bold;
	font-size: 35px;
	line-height: 48px;
	color: white;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;

	p{
		margin-bottom: 2px;

		span{
			color: #34a963;
		}
	}
}


.pagi{
	text-align: center;

	ul{
		display: inline-block;
		vertical-align: top;
		background: #eff2f7;
		padding: 5px;
		border-radius: 22px;
		font-size: 15px;
		line-height: 31px;

		li{
			display: inline-block;
			vertical-align: middle;
			height: 33px;

			a{
				display: inline-block;
				vertical-align: middle;
				width: 26px;
				height: 26px;
				line-height: 26px;
				border-radius: 50%;
			}

			&.active{
				a{
					background: #34a963;
					font-weight: 500;
					color: #fff;
				}
			}

			&:first-child{
				margin-right: 10px;
			}

			&:last-child{
				margin-left: 10px;
			}

			&.control{

				a{
					border:1px solid #a4acb5;
					width: 31px;
					height: 31px;

					svg{
						margin-top: 1px;
						display: inline-block;
						vertical-align: middle;
					}

					&:hover{
						background: #34a963;
						border-color: #34a963;

						svg path{
							fill:#fff;
						}
					}
				}
			}
		}
	}

}


