$font1: 'Montserrat', sans-serif;
$font2: "Montserrat", sans-serif;

a{
	text-decoration: none;
}

html,body{
}


body{
	color: #000000;
	font-family: $font1;
	font-size: 14px;
	margin: 0;
	background: #ffffff;
}
.container{
	max-width: 1240px;
	width: 96%;
	margin: 0 auto;
	box-sizing: border-box;
}

#jGrowl{
  z-index: 999999;
}

.btn {
  font-family: $font1;
  border-radius: 50px;
  border: 2px solid #dee2e7;
  background-color: transparent;
  padding: 12px 25px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  max-width: 100%;
  display: inline-block;
  position: relative;
  z-index: 1;
  color: #34a963;
  font-weight: 400;
  text-transform: uppercase;
  vertical-align: middle;
  span{
    vertical-align: middle;
  }
  &:focus{
    outline: none;
  }
  &.btn-white{
    color: #34a963;
    border: 2px solid #dee2e7;
    background-color: transparent;
    &::after{
      content: "";
      display: inline-block;
      width: 19px;
      height: 19px;
      background: #34a963 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='9' viewBox='0 0 5 9'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23eaeff5' d='M-.002 8.996l3.248-4.497-3.248-4.5h1.755l3.249 4.5-3.249 4.497z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") center center no-repeat;
      border-radius: 100%;
      margin-left: 15px;
      vertical-align: middle;
    }
    &:hover{
    }
  }
}


header{
	background: #ffffff;
	border-bottom: 5px solid #34a963;
	.logo-line{
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 120px;
		.logo{
			position: relative;
			left: -79px;
			display: flex;
			align-items: center;
			img{
				display: block;
				margin-right: 17px;
			}
			.text-block{
				display: flex;
				justify-content: center;
				flex-direction: column;
				.title{
					color: #1c1c1c;
					font-size: 18px;
					font-weight: 700;
				}
				.losung{
					margin-top: 6px;
					color: #848e99;
					font-size: 13px;
					font-weight: 400;
				}
			}
		}
		.address{
			color: #000000;
			font-size: 15px;
			font-weight: 400;
		}
		.phone{
			color: #000000;
			font-size: 15px;
			font-weight: 600;
			display: inline-block;
			span{
				font-weight: 400;
				color: #848e99;
				margin-right: 5px;
			}
		}
		.select-lang-block{
			a{
				color: #1c1c1c;
				font-size: 15px;
				font-weight: 400;
				padding: 0 24px 0 39px;
				position: relative;
				display: inline-block;
				&::before{
					content: "";
					display: block;
					width: 23px;
					height: 23px;
					position: absolute;
					left: 0;
					top: calc(50% - 11px);
					background: url("../images/png/i-lang.png") center center no-repeat;
					background-size: contain;
				}

				&::after{
					content: "";
					display: block;
					width: 10px;
					height: 5px;
					position: absolute;
					right: 0;
					top: calc(50% - 1px);
					background: url("../images/svg/arr-lang.svg") center center no-repeat;
					background-size: contain;
				}
			}
			.more-langs{
				display: none;
			}
		}
		.search{
			display: inline-block;
			img{
				display: block;
			}
		}
		.cart{
			display: inline-block;
		}

		.no-logo{
			display: flex;
			justify-content: space-between;
			align-items: center;
			> *{
				margin: 0 30px;
				position: relative;
				display: flex;
				align-items: center;
				&:last-child{
					margin-right: 0;
				}
				+ *{
					&::before{
						content: "";
						width: 1px;
						height: 35px;
						display: block;
						position: absolute;
						left: -30px;
						background-color: #dee2e7;
					}
				}
			}
		}
	}
	.menu-line{
		border-top: 1px solid #dee2e7;
		.menu{
			list-style: none;
			display: flex;
			justify-content: space-between;
			height: 62px;
			align-items: center;

			.haschild{
				> a{
					display: inline-block;
					padding-right: 28px;
					background: url("../images/svg/arr-down-menu.svg") right center no-repeat;
				}
			}
			.drop-block{
				display: none;
			}
			.level-1{
				> a{
					color: #1c1c1c;
					font-size: 15px;
					font-weight: 500;
					letter-spacing: 0.03px;
				}
				&.callback-link{
					a{
						color: #34a963;
						font-weight: 600;
					}
				}
			}
		}
	}
}

footer{
	color: #848e99;
	background-color: #445055;
	font-size: 13px;
	line-height: 20px;
	margin-top: 150px;
	.menu-line{
		padding: 95px 0 55px;
		display: flex;
		justify-content: space-between;
		.col{
			&:nth-child(4){
				margin-left: 100px;
			}
		}
		.menu{
			max-width: 212px;
			+ .menu{
				margin-top: 20px;
			}
			.title{
				color: #ffffff;
				font-size: 15px;
				font-weight: 500;
				a{
					color: #ffffff;
				}
			}
			.submenu{
				list-style: none;
				margin-top: 20px;
				li{
					+ li{
						margin-top: 10px;
					}
				}
				a{
					color: #848e99;
				}
			}
		}
		.contacts-block{
			max-width: 265px;
			.title{
				color: #ffffff;
				font-size: 15px;
				font-weight: 500;
				margin-bottom: 20px;
			}
			.block{
				+.block{
					margin-top: 14px;
					&.mgn-more{
						margin-top: 22px;
					}
				}
				.label{
					color: #848e99;
					font-size: 13px;
					font-weight: 400;
				}
				.phone-link{
					color: #ffffff;
					font-size: 18px;
					font-weight: 600;
					margin-top: 10px;
					display: inline-block;
					span{
						font-weight: 400;
					}
				}
				.address{
					color: #ffffff;
					font-size: 13px;
					font-weight: 400;
					margin-top: 10px;
				}
				.mail-link{
					color: #848e99;
					font-size: 13px;
					font-weight: 400;
				}
			}
			.soc-block{
				display: flex;
				width: 203px;
				align-items: center;
				justify-content: space-between;
				margin-top: 37px;
				.soc-link{
					img{
						display: block;
					}
				}
			}
		}
	}
	.copy-line{
		border-top: 1px solid #59656a;
		padding: 55px 0 75px;
		display: flex;
		justify-content: space-between;
		.col{
			&:nth-child(1){
				max-width: 475px;
				.copy-2{
					margin-top: 20px;
				}
			}
			&:nth-child(3){
				a{
					margin-top: 8px;
					display: block;
					img{
						display: block;
					}
				}
			}
		}
		a{
			color: #848e99;
		}
	}
}

#breadcrumbs ul{
	padding-top: 53px;
	font-size: 15px;
	line-height: 25px;
	padding-bottom: 53px;

	li {
		display: inline;
		vertical-align: top;
		margin-right: 15px;

		&.prelast{
			&:after{
				background: url("../images/svg/arr-bread-b.svg");
			}
		}

		&:after {
			content: '';
			display: inline-block;
			vertical-align: middle;
			margin-top: -2px;
			width: 5px;
			height: 9px;
			background: url("../images/svg/arr-bread.svg");
			margin-left: 20px;
		}

		a{
			color: #848e99;
		}
	}

	li:last-child:after{
		display: none;
	}
}

.big-banner-page{
	height: 321px;
	background-size: cover;
	background-position: center center;
	font-weight: bold;
	font-size: 35px;
	line-height: 48px;
	color: white;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;

	p{
		margin-bottom: 2px;

		span{
			color: #34a963;
		}
	}
}


.pagi{
	text-align: center;

	ul{
		display: inline-block;
		vertical-align: top;
		background: #eff2f7;
		padding: 5px;
		border-radius: 22px;
		font-size: 15px;
		line-height: 31px;

		li{
			display: inline-block;
			vertical-align: middle;
			height: 33px;

			a{
				display: inline-block;
				vertical-align: middle;
				width: 26px;
				height: 26px;
				line-height: 26px;
				border-radius: 50%;
			}

			&.active{
				a{
					background: #34a963;
					font-weight: 500;
					color: #fff;
				}
			}

			&:first-child{
				margin-right: 10px;
			}

			&:last-child{
				margin-left: 10px;
			}

			&.control{

				a{
					border:1px solid #a4acb5;
					width: 31px;
					height: 31px;

					svg{
						margin-top: 1px;
						display: inline-block;
						vertical-align: middle;
					}

					&:hover{
						background: #34a963;
						border-color: #34a963;

						svg path{
							fill:#fff;
						}
					}
				}
			}
		}
	}

}
