$font1: "Open Sans", sans-serif;
$font2: "Open Sans", sans-serif;

a{
	text-decoration: none;
}

html,body{
}


body{
	color: #000000;
	font-family: $font1;
	font-size: 14px;
	margin: 0;
	background: #ffffff;
}
.container{
	width: 1140px;
	margin: 0 auto;
	box-sizing: border-box;
}

#jGrowl{
  z-index: 999999;
}
