.news-events-page {
  .page-title {
    color: #1c1c1c;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 55px;
  }

  .flex-block {
    display: flex;
    justify-content: space-between;

    .left-block {
      width: 816px;

      .page-subtitle {
        color: #1c1c1c;
        font-size: 18px;
        font-weight: 600;
      }

      .pagi {
        margin-top: 70px;
        text-align: left;

        ul {
          text-align: center;
        }
      }

    }

    .right-block {
      width: 392px;
    }

    .gray-block {
      padding: 45px 50px 40px;

      background-color: #eff2f7;

      +.gray-block {
        margin-top: 30px;
      }

      .block {
        padding-bottom: 35px;

        +.block {
          padding-top: 35px;
          border-top: 1px solid #dee2e7;
        }

        &:last-child {
          padding-bottom: 0;
        }

        .menu-list {
          color: #1c1c1c;
          font-size: 15px;
          font-weight: 400;
          margin-top: 35px;

          >div {
            +div {
              margin-top: 24px;
            }
          }

          a {
            color: #1c1c1c;

            &.active {
              color: #34a963;
              font-weight: 500;
            }

            &:hover {
              color: #34a963;
            }
          }
        }
      }

      .title {
        color: #1c1c1c;
        font-size: 18px;
        font-weight: 600;
      }

      &.subscribe-block {
        form {
          margin-top: 25px;

          .input-row {
            position: relative;
            width: 100%;
            height: 45px;

            input {
              width: 100%;
              height: 100%;
              box-sizing: border-box;
              border-radius: 22px;
              border: 1px solid #dee2e7;
              background-color: #ffffff;
              padding: 0 57px 0 25px;
              font-size: 15px;
              font-weight: 400;
              font-family: $font1;

              &:focus {
                outline: none;
              }

              &::placeholder {
                font-size: 15px;
                font-weight: 400;
                font-family: $font1;
                color: #848e99;
              }
            }

            button {
              border: 0;
              margin: 0;
              width: 19px;
              height: 19px;
              background: #34a963 url(../images/svg/arr-right-w.svg) center center no-repeat;
              border-radius: 100%;
              position: absolute;
              right: 25px;
              top: 13px;
              cursor: pointer;
            }
          }
        }

        .radio {
          display: flex;
          margin-top: 20px;
        }
      }

      &.other-block {
        .other-list {
          .item {
            padding: 40px 0;
            border-bottom: 1px solid #dee2e7;

            .item-title {
              color: #1c1c1c;
              font-size: 15px;
              font-weight: 500;
              line-height: 25px;

              a {
                color: #1c1c1c;

                &:hover {
                  color: #34a963;
                }
              }
            }

            .date {
              margin-top: 15px;
              color: #848e99;
              font-size: 13px;
              font-weight: 500;
              line-height: 13px;
            }
          }
        }

        .all-link {
          margin-top: 40px;

          a {
            color: #1c1c1c;
            font-size: 15px;
            font-weight: 500;
            line-height: 15px;
            text-decoration: underline;

            &:hover {
              text-decoration: none;
              color: #34a963;
            }
          }
        }
      }
    }
  }

  &.news-page {
    .flex-block {
      .news-list {
        .item {
          max-width: 710px;
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          padding-bottom: 40px;
          padding-top: 40px;
          border-bottom: 1px solid #dee2e7;

          .image-block {
            width: 286px;
            height: 180px;
            position: relative;
            display: block;

            img {
              width: 100%;
              display: block;
            }

            .icons {
              position: absolute;
              left: 0;
              bottom: 0;
              display: flex;

              span {
                width: 39px;
                height: 39px;
                display: block;
                background-color: rgba(50, 54, 64, 0.5);
                background-repeat: no-repeat;
                background-position: center center;

                &.photo {
                  background-image: url('../images/png/news-i-photo.png');
                }

                &.video {
                  background-image: url('../images/svg/news-i-video.svg');
                }
              }
            }
          }

          .text-block {
            width: calc(100% - 316px);

            .date {
              color: #848e99;
              font-size: 13px;
              font-weight: 500;
            }

            .title {
              color: #1c1c1c;
              font-size: 15px;
              font-weight: 600;
              line-height: 22px;
              margin-top: 6px;

              a {
                color: #1c1c1c;

                &:hover {
                  color: #34a963;
                }
              }
            }

            .text {
              color: #1c1c1c;
              font-size: 15px;
              font-weight: 400;
              line-height: 25px;
              margin-top: 20px;
              overflow: hidden;
              max-height: 75px;
            }

            .type {
              margin-top: 10px;
              color: #34a963;
              font-size: 13px;
              font-weight: 400;

              a {
                color: #34a963;

                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
  }

  &.event-page {
    .flex-block {

      .first-event {
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #323640;
        width: 100%;
        height: 359px;

        .over {
          background-color: rgba(0, 0, 0, 0.4);
          width: 100%;
          height: 100%;
          box-sizing: border-box;
          padding: 40px 49px 50px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .date-row {
            display: flex;

            .date {
              color: #ffffff;
              font-size: 15px;
              font-weight: 600;
              background-color: #34a963;
              padding: 8px 15px 5px;
            }

            .place {
              color: #ffffff;
              font-size: 13px;
              font-weight: 500;
              line-height: 18px;
              margin-left: 28px;
            }
          }

          .title-row {
            .title {
              color: #fffefe;
              font-size: 35px;
              font-weight: 700;

              a {
                color: #fffefe;

                &:hover {
                  color: #34a963;
                }
              }
            }

            .type {
              max-width: 350px;
              height: 36px;
              color: #ffffff;
              font-size: 15px;
              font-weight: 500;
              line-height: 22px;
              margin-top: 22px;
            }
          }
        }
      }

      .subtitle-row {
        margin-top: 40px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;

        .page-subtitle {
          min-width: 170px;
          margin-right: 5px;
        }

        .select-style {
          width: 264px;
        }
      }

      .events-list {
        max-width: 710px;
        width: 100%;

        .item {
          padding: 40px 0;
          border-bottom: 1px solid #dee2e7;
          display: flex;
          align-items: flex-start;
          justify-content: space-between;

          .image-block {
            width: 171px;

            a {
              display: block;

              img {
                width: 100%;
              }
            }
          }

          .text-block {
            width: calc(100% - 201px);

            .title {
              color: #1c1c1c;
              font-size: 15px;
              font-weight: 700;
              line-height: 25px;

              a {
                color: #1c1c1c;

                &:hover {
                  color: #34a963;
                }
              }
            }

            .type {
              margin-top: 3px;
              color: #848e99;
              font-size: 13px;
              font-weight: 400;
            }

            .text {
              margin-top: 18px;
              color: #1c1c1c;
              font-size: 15px;
              font-weight: 400;
              line-height: 25px;
              max-height: 75px;
              overflow: hidden;
            }

            .info-row {
              margin-top: 25px;
              display: flex;

              .block {
                min-width: 175px;

                +.block {
                  margin-left: 15px;
                }

                .label {
                  color: #1c1c1c;
                  font-size: 13px;
                  font-weight: 500;
                }

                .text {
                  margin-top: 6px;
                  color: #848e99;
                  font-size: 13px;
                  line-height: 13px;
                  font-weight: 400;
                }
              }
            }
          }
        }
      }
    }
  }

  .links-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .sep {
      width: 1px;
      height: 35px;
      background-color: #dee2e7;
    }

    a {
      color: #333333;
      font-size: 15px;
      font-weight: 400;

      &.prev-link {
        svg {
          margin-right: 15px;
        }
      }

      &.next-link {
        svg {
          margin-left: 15px;
        }
      }

      &:hover {
        color: #34a963;

        svg {
          path {
            fill: #34a963;
          }
        }
      }
    }
  }

  .flex-block-title {
    min-height: 60px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;

    .left-block {
      width: 816px;

      .page-title {
        margin-bottom: 0;
      }

      .date {
        color: #848e99;
        font-size: 13px;
        font-weight: 500;
        margin-top: 3px;
      }
    }

    .right-block {
      width: 392px;

    }
  }

  .info-row {
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 14px;
    box-sizing: border-box;
    background-color: #fefae1;

    .sep {
      width: 1px;
      height: 29px;
      background-color: #e1deca;
    }

    .date,
    .time {
      color: #1c1c1c;
      font-size: 15px;
      font-weight: 400;

      span {
        color: #848e99;
        font-size: 13px;
        margin-left: 15px;
      }
    }

    .link {
      color: #34a963;
      font-size: 15px;
      font-weight: 400;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .image-slider {

    .swiper-button-prev,
    .swiper-button-next {
      position: absolute;
      top: calc(50% - 16px);
      z-index: 10;
      background-color: rgba(50, 54, 64, 0.71);

      &:hover {
        background-color: #34a963;
      }
    }

    .swiper-button-prev {
      left: 40px;
    }

    .swiper-button-next {
      right: 40px;
    }
  }

  #map {
    width: 100%;
    height: 379px;
  }

  .image-slider-mini {
    display: flex;
    margin-top: 32px;

    .image-block {
      margin-right: 32px;
      width: 74px;
      height: 74px;
      position: relative;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &.video {
        &::before {
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          background: rgba(50, 54, 64, 0.5) url(../images/svg/news-i-video.svg) center center no-repeat;
          background-size: 39px 40px;
        }
      }

      &.map {
        width: 180px;
        background-color: #34a963;
        color: #fefffe;
        font-size: 15px;
        font-weight: 600;
      }
    }
  }

  .bottom-links {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #dee2e7;
    max-width: 816px;
    margin-top: 100px;

    .share-block {
      display: flex;
      align-items: center;

      .soc-link {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
        width: 43px;
        height: 43px;
        background-color: #eff2f7;
        border-radius: 100%;

        &:hover {
          background-color: #34a963;

          img {
            filter: brightness(100);
          }
        }
      }
    }

    .links-row {
      width: 504px;
    }
  }

  .text-style {
    max-width: 742px;
    margin-top: 40px;
    color: #1c1c1c;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;

    strong {
      font-weight: 600;
    }

    >*+* {
      margin-top: 30px;
    }

    h3 {
      margin-top: 45px;
      color: #1c1c1c;
      font-size: 18px;
      font-weight: 600;
    }

    ul {
      list-style: none;

      li {
        padding-left: 38px;
        position: relative;

        &::before {
          content: "";
          width: 7px;
          height: 7px;
          display: block;
          border-radius: 100%;
          background-color: #323640;
          position: absolute;
          left: 0;
          top: 10px;
        }

        +li {
          margin-top: 25px;
        }
      }
    }

    .green-block {
      background-color: #f6f8fb;
      padding: 45px 55px;
      border-left: 2px solid #34a963;
      font-weight: 500;
      font-style: italic;
    }
  }

  .info-block {
    background-color: #f6f8fb;
    padding: 40px 55px;
    box-sizing: border-box;
    margin-top: 40px;

    .title {
      color: #1c1c1c;
      font-size: 18px;
      font-weight: 600;
    }

    .table {
      margin-top: 25px;

      .table-row {
        padding: 35px 0;
        display: flex;

        +.table-row {
          border-top: 1px solid #dee2e7;
        }

        &:last-child {
          padding-bottom: 0;
        }

        .label {
          color: #848e99;
          font-size: 15px;
          font-weight: 400;
          width: 190px;
          margin-right: 15px;
        }

        .text {
          color: #1c1c1c;
          font-size: 15px;
          font-weight: 400;
          line-height: 22px;

          span {
            color: #848e99;
          }

          &.flex {
            display: flex;
          }

          .phones {
            width: 205px;
            margin-right: 15px;

            a {
              color: #1c1c1c;
              font-size: 15px;
              font-weight: 500;
              line-height: 25px;

              &:hover {
                color: #34a963;
              }
            }
          }

          .links {
            a {
              color: #34a963;
              font-size: 15px;
              font-weight: 400;
              line-height: 25px;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }

  &.news-single-page {
    .bottom-links {
      max-width: 742px;

      .links-row {
        width: 413px;
      }
    }
  }
}

///////////////////////////////////db21

.image-slider-mini {
  .swiper-container {
    margin: 0;
    width: 100%;

    .swiper-slide {
      width: unset;
    }
  }
}

.events-single-page {
  .image-slider-mini {
    margin-top: 27px;

    .swiper-container {
      margin: 0;
      width: 100%;

      .swiper-wrapper {
        .swiper-slide {
          &:first-child {
            margin-right: 110px;
          }

          margin-right: 4px;
          width: unset;
        }
      }
    }

  }

  .flex-block {
    .left-block {
      .info-row {
        .address {
          display: none;
        }

      }
    }
  }

}


//////////////////////////////////adaptive-720
@media screen and (max-width:1250px) {
  header {
    border-bottom: 4px solid #E2E3E7;
  }

  #breadcrumbs ul {
    padding-bottom: 12px;
    padding-top: 24px;
  }

  .news-events-page {
    .flex-block .left-block {
      width: 100%;
    }

    .flex-block {

      .first-event {
        display: none;
      }

      .right-block {
        max-width: 720px;
        width: 100%;

        .news-menu-block {
          padding: 0;
        }

        .gray-block {
          padding: none;
          background: none;

          .block {
            &.names {
              display: flex;
              align-items: flex-start;

              #title-news {
                font-size: 23px;
                font-weight: 500;
                line-height: 40px;
                border-bottom: 1px solid #E1E1E1;
                color: #848e99;
                padding-bottom: 14px;
                padding-right: 91px;

                &:first-letter {
                  margin-left: -2px;
                }
              }

              #title-events {
                font-size: 23px;
                font-weight: 500;
                line-height: 40px;
                border-bottom: 3px solid #34a963;
                padding-bottom: 13px;

                max-width: 167px;
                overflow: hidden;

                &:first-letter {
                  margin-left: -1px;
                }


              }
            }

            &.list {
              .menu-list {
                display: flex;
                align-items: center;
                background-color: #eff2f7;
                max-width: 720px;
                height: 56px;
                margin-top: 4px;

                div {
                  display: flex;
                  justify-content: center;
                  margin-top: 0;
                  width: 33.33333333%;

                  &:nth-child(2) {
                    border-left: 1px solid #dee2e7;
                    border-right: 1px solid #dee2e7;
                    box-sizing: border-box;
                  }

                  a {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 29px;

                    &.active {
                      font-weight: 500;
                    }
                  }

                }
              }
            }


            padding-bottom: 0;

            &+.block {
              padding-top: none;
              border-top: none;
            }

            &:first-child {
              .menu-list {
                display: none;
              }
            }
          }
        }
      }

      .subtitle-row {
        margin-top: 24px;

        .page-subtitle {
          color: #1c1c1c;
          font-size: 16px;
          font-weight: 600;
          line-height: 35px;
        }

        .select-style {
          width: 264px;
          height: 45px;
          border-radius: 22px;
          border: 1px solid #dee2e7;
          display: flex;
          align-items: center;
          margin-left: 2px;
          padding-left: 26px;

          span {
            font-size: 14px;

          }
        }
      }

      .events-list {
        .item {
          padding-bottom: 40px;
          height: calc(263px - 40px - 40px);

          &:first-child {
            padding-top: 12px;

          }

          padding-bottom: 37px;

          .image-block {
            width: 172px;
          }

          &:not(:first-child) {
            .info-row {
              margin-top: 19px;
            }
          }

          .text-block {
            width: calc(100% - 203px);
            margin-right: -2px;

            .title {
              font-size: 14px;
              font-weight: 700;
              line-height: 21px;
              max-width: 300px;
              margin-top: -7px;
            }

            .type {
              margin-top: 3px;
            }

            .text {
              margin-top: 22px;
              font-size: 14px;
              font-weight: 400;
              line-height: 24px;
              width: 516px;
            }

            .info-row {
              margin-top: 22px;
              justify-content: flex-start;
              padding: 0;
              max-width: 439px;
              background: none;
              margin-bottom: 0;
            }
          }
        }
      }

      .subscribe-block.gray-block {
        margin-top: 40px;
        padding: 32px;
        background-color: #eff2f7;

        padding-top: 21px;

        .title {
          font-size: 16px;
          font-weight: 500;
          line-height: 35px;
        }

        form {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 20px;

          .input-row {
            width: 294px;
            height: 45px;
          }

          .radio {
            max-width: 312px;
            margin-top: 0;
          }
        }
      }

      .pagi {
        margin-top: 64px;
        display: flex;
        margin-left: 0;
        height: 43px;

        ul {
          display: flex;

          li {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #848e99;
            margin: 0 4.4px;

            &:first-child {
              margin-right: 12px;
            }

            &:last-child {
              margin-left: 19px;
            }

            a {
              color: #848e99;
            }

            &.active {
              a {
                color: #ffffff;
              }
            }

          }
        }

      }
    }

    &.event-page {
      .flex-block .subtitle-row {
        margin-top: 24px;
      }

      .flex-block .events-list .item .text-block .title {
        line-height: 23px;
      }

      .flex-block .events-list .item .text-block .type {
        margin-top: 2px;
      }

      .flex-block .events-list .item .text-block .text {
        margin-top: 23px;
      }

      .flex-block .events-list .item .text-block .info-row {
        margin-top: 19px;
      }
    }

    &.news-page {
      .page-title {
        display: none;
      }

      .flex-block .right-block .gray-block .block.list .menu-list:last-child {
        display: none;
      }

      .flex-block {
        .left-block {
          .page-subtitle {
            font-size: 16px;
            font-weight: 600;
            line-height: 35px;
            margin-top: 29px;
          }
        }

        .news-list {
          .item:first-child {
            padding-top: 20px;
            padding-bottom: 40px;
          }

          .item {
            height: calc(260px - 40px - 40px);

            .image-block {
              .icons {
                span {
                  margin-right: 1px;
                }
              }
            }

            .text-block {
              padding-left: 2px;
              margin-right: -2px;

              .date {
                margin-top: -3px;
              }

              .title {
                font-size: 14px;
                line-height: 21px;
                max-width: 381px;

                margin-top: 7px;
              }

              .text {
                font-size: 14px;
                line-height: 24px;
                margin-top: 21px;
              }

              .type {
                margin-top: 11px;
              }
            }
          }
        }

        .right-block .gray-block {
          .block.names {

            #title-news {
              border-bottom: 3px solid #34a963;
              padding-bottom: 13px;
              padding-right: 0;

              &:first-letter {
                margin-left: -1px;
              }

              color: #1c1c1c;

              max-width: 99px;
              overflow: hidden;
            }

            #title-events {
              border-bottom: 1px solid #E1E1E1;
              padding-bottom: 14px;
              padding-left: 94px;
              color: #848e99;


            }
          }
        }

      }
    }

    &.news-single-page,
    &.events-single-page {
      .flex-block-title {
        .left-block {
          .date {
            margin-top: 1px;
          }
        }

        .right-block {
          display: none;
        }
      }

      .page-title {
        font-size: 23px;
        font-weight: 500;
        line-height: 33px;

        margin-top: 4px;
      }

      .image-slider {
        .swiper-container {
          .swiper-wrapper {
            .swiper-slide {
              img {
                max-width: 100%;
                height: auto;
              }
            }
          }
        }
      }

      .flex-block {

        margin-top: 1px;

        .left-block {

          max-width: 100%;

          .text-style {
            margin-top: 33px;

            p {
              font-size: 14px;
              font-weight: 400;
              line-height: 24px;
            }

            &>*+* {
              margin-top: 24px;
            }

            .green-block {
              padding: 26px 45px 25px 29px;
              margin-top: 24px;

              p {
                font-weight: 500;
              }
            }

            h3 {
              font-size: 16px;
              font-weight: 600;
              margin-top: 36px;
              line-height: 25px;
            }

            ul {
              margin-top: 28px;

              li {
                padding-left: 32px;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;

                &+li {
                  margin-top: 24px;
                }
              }
            }
          }

          .subscribe-block.gray-block {
            margin-top: 44px;
          }

          .bottom-links {
            padding-top: 27px;
            margin-top: 80px;

            .share-block .soc-link {
              margin-left: 15px;
            }

            .links-row {
              width: 377px;

              span {
                font-size: 14px;
                font-weight: 400;
                line-height: 25px;
              }

              a.prev-link svg {
                margin-right: 11px;
              }

              a.next-link svg {
                margin-left: 11px;
              }
            }
          }


        }

        .right-block {
          display: none;
        }

      }
    }

    &.news-single-page {
      .image-slider-mini .swiper-container .swiper-slide {
        width: unset;
        margin-right: 4px;
      }

      .image-slider-mini .image-block {
        width: 62px;
        height: 62px;

        &::before {
          background-size: 32px 32px;
        }
      }
    }

    &.events-single-page {
      .image-slider-mini {
        .image-block {
          height: 62px;
          width: 62px;
          margin-top: 32px;

          &.video::before {
            background-size: 32px 32px;
          }

          &.map {
            width: 156px;
            font-size: 14px;
          }
        }

      }

      .info-block {
        margin-top: 33px;
        padding: 35px 32px;

        padding-bottom: 3px;

        .title {
          font-size: 16px;
          line-height: 25px;
        }

        .table {
          margin-top: 8px;

          .table-row {
            .label {
              font-size: 14px;
            }

            padding-top: 27px;
            padding-bottom: 25px;

            .text {
              font-size: 14px;

              strong {
                font-weight: 600;
              }
            }
          }
        }
      }

      .flex-block-title {
        margin-bottom: 0;
      }

      .flex-block .left-block {
        .info-row {
          .date {
            font-size: 14px;

            span {

              font-size: 13px;
            }
          }

          .time,
          .sep {
            font-size: 14px;
          }
        }


        .bottom-links {
          padding-top: 27px;

          .share-block .soc-link {
            margin-left: 15px;
          }

          .links-row {
            width: 462px;

            span {
              font-size: 14px;
              font-weight: 400;
              line-height: 25px;
            }

            a.prev-link svg {
              margin-right: 11px;
            }

            a.next-link svg {
              margin-left: 11px;
            }
          }
        }
      }
    }
  }

}

/////////////////////adaptive320
@media screen and (max-width:700px) {

  .page-wrapper.news-events-page {

    &.event-page,
    &.news-page {
      .flex-block {
        .right-block {
          .gray-block {
            .block+.block {
              padding-top: 28px;
            }

            .block.names {
              #title-news {
                font-size: 20px;
                font-weight: 500;
                line-height: 40px;
              }

              #title-events {
                font-size: 20px;
                font-weight: 500;
                line-height: 40px;
              }
            }

            .block.list {
              .menu-list {
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                min-height: 56px;
                height: unset;

                div {
                  display: flex;
                  justify-content: flex-start;
                  padding-left: 23px;
                  width: calc(100% - 23px);

                  &:nth-child(2) {
                    border: none;
                  }

                  position: relative;

                  a {
                    &.active {
                      &::after {
                        content: "";
                        width: 10px;
                        height: 5px;
                        position: absolute;
                        right: 24px;
                        top: 26px;
                        display: block;
                        pointer-events: none;
                        -webkit-transition: all .15s ease-in-out;
                        transition: all .15s ease-in-out;
                        background: url(../images/svg/arr-lang.svg);
                      }

                      display: flex;
                      color: #1c1c1c;
                    }

                    display: none;
                    align-items: center;
                    justify-content: flex-start;
                    height: 56px;

                  }
                }

                &:hover {
                  div {
                    a {
                      display: flex;

                      &.active {
                        &:after {
                          transform: rotate(-180deg);
                        }
                      }
                    }
                  }
                }
              }

            }
          }

          .left-block {
            width: unset;
          }

          .subscribe-block.gray-block {
            padding: 21px 24px;
            padding-bottom: 27px;
            margin-top: 41px;

            .title {
              font-size: 16px;
            }

            form {
              margin-top: 21px;
              flex-direction: column;

              .input-row {
                width: 282px;
              }

              .radio {
                margin-top: 20px;
              }
            }
          }

          .pagi {
            max-width: fit-content;
            margin: 0 auto;
            margin-top: 40px;

            ul li:first-child {
              margin-left: 2px;
            }

            ul li:last-child {
              margin-left: 22px;
            }

            ul li {
              margin: 0px 4.3px;
            }
          }
        }

        .subtitle-row {
          flex-direction: column;
          align-items: flex-start;
          margin-top: 29px;
          margin-left: -2px;

          .nice-select {
            margin-top: 12px;
            width: 330px;
            padding-left: 22px;

            &::after {
              right: 24px;
            }
          }
        }
      }
    }



    &.event-page {
      .flex-block {
        .right-block {
          .gray-block {
            .block+.block {
              padding-top: 28px;
            }

            .block.names {
              #title-news {
                padding-bottom: 12px;
                padding-right: 47px;
              }

              #title-events {
                padding-bottom: 11px;
                margin-left: -1px;
              }
            }


          }
        }

        .left-block {
          .events-list {
            .item {
              flex-direction: column;
              height: unset;
              padding: 32px 0;


              &:first-child {
                padding-top: 12px;
              }

              .image-block {
                width: 100%;

                a {
                  max-height: 180px;
                  overflow-y: hidden;
                }
              }

              .text-block {
                width: 100%;

                .title {
                  margin-top: 26px;
                  font-size: 14px;
                }

                .type {
                  margin-top: 6px;
                }

                .text {
                  margin-top: 22px;
                  line-height: 24px;
                  font-size: 14px;
                  width: unset;
                  max-height: unset;
                }

                .info-row {
                  margin-top: 14px;

                  .block {
                    .text {
                      margin-top: 5px;
                      font-size: 13px;
                      line-height: 12px;
                    }

                    &+.block {
                      margin-left: 1px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    &.news-page {
      .flex-block {
        .right-block {
          .gray-block {
            /*  .block+.block {
              padding-top: 28px;
            }*/

            .block.names {
              #title-news {
                max-width: 86px;
                padding-bottom: 11px;
                ;
              }

              #title-events {
                padding-bottom: 12px;
                padding-left: 48px;
              }
            }


          }
        }

        .left-block {
          .page-subtitle {
            margin-left: -1px;
          }

          .news-list {
            .item {
              flex-direction: column;
              height: unset;
              padding: 32px 0;


              &:first-child {
                padding-top: 20px;
              }

              .image-block {
                width: 100%;

                overflow-y: hidden;

                a {
                  max-height: 180px;
                  overflow-y: hidden;
                }
              }

              .text-block {
                width: 100%;
                margin-left: -1px;

                .date {
                  margin-top: 29px;
                }

                .title {
                  margin-top: 7px;
                  font-size: 14px;
                }

                .text {
                  margin-top: 19px;
                  line-height: 24px;
                  font-size: 14px;
                  width: unset;
                  max-height: unset;
                }

                .type {
                  margin-top: 6px;
                }




              }
            }
          }
        }
      }
    }

    &.news-single-page,
    &.events-single-page {
      .page-title {
        font-size: 20px;
      }

      .image-slider .swiper-container .swiper-wrapper .swiper-slide img {
        height: 267px;
        object-fit: cover;
        object-position: center;

      }

      #map {
        height: 267px;
      }

      .flex-block {
        .left-block {
          .bottom-links {
            flex-direction: column;
            align-items: flex-start;
            margin-top: 22px;
            padding-top: 20px;

            .links-row {
              order: -1;
              width: 328px;
              font-size: 14px;

              .sep {}

              .next-link,
              .prev-link {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: calc(50% - 0.5px);

                span {
                  display: block;
                  line-height: 22px
                }

              }

              .prev-link {
                svg {
                  margin-right: 30px;
                }

              }

              .next-link {
                justify-content: flex-end;

                span {
                  padding-left: 29px;
                }
              }
            }

            .share-block {

              margin-top: 33px;
            }
          }
        }
      }
    }

    &.news-single-page {
      .page-title {
        margin-left: -2px;
        line-height: 29px;
      }

      .flex-block-title {
        margin-bottom: 21px;

        .left-block {
          .date {
            margin-top: 0;
          }
        }
      }

      .image-slider-mini {
        margin-top: 20px;

        .swiper-slide {
          width: 85px !important;

          .image-block {
            width: 64px;
            height: 64px;
          }
        }
      }

      .flex-block {
        .left-block {
          .text-style {
            margin-top: 25px;
            margin-left: -1px;

            .green-block {
              padding: 26px 30px 25px 22px;
            }

            h3 {
              margin-top: 29px;
              line-height: 24px;

              &+p {
                margin-top: 17px;
              }
            }

            ul {
              margin-top: 19px;

              li {
                padding-left: 25px;
              }

              &+p {
                margin-top: 17px;
              }
            }
          }

          .subscribe-block.gray-block {
            margin-top: 33px;
            padding: 21px 23px 26px 23px;

            form {
              flex-direction: column;
              align-items: flex-start;
              margin-left: 1px;

              .input-row {
                width: 282px;
                max-width: 100%;
              }

              .radio {
                margin-top: 22px;
              }
            }
          }

          .bottom-links {
            margin-top: 49px;
            padding-top: 26px;

            .share-block {
              margin-top: 36px;

            }

            .links-row {
              .prev-link {
                svg {
                  margin-right: 27px;
                }

                span {}
              }

              .sep {}

              .next-link {
                span {
                  padding-right: 16px;
                  padding-left: 0;
                }
              }
            }
          }
        }
      }


    }

    &.events-single-page {
      .flex-block {
        .left-block {
          .info-row {
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding-top: 20px;
            padding-left: 24px;
            padding-right: 24px;
            padding-bottom: 18px;
            margin-bottom: 32px;

            div,
            a {
              padding-bottom: 19px;
              border-bottom: 1px solid #e1deca;
              padding-top: 21px;
              display: block;
              width: 100%;
            }

            div {
              &:first-child {
                padding-top: 0;
              }
            }

            .sep {
              display: none;
            }

            .date {
              span {
                margin-left: 7px;
              }
            }

            .link {
              font-size: 14px;
              line-height: 16px;
            }

            .address {
              span {
                display: block;
                font-weight: 600;

                margin-bottom: 7px;
              }

              line-height: 21px;
              padding-bottom: 0;
              margin-bottom: 0;

              border-bottom: none;
              line-height: 19px;
              max-width: 270px;
            }
          }

          .image-slider-mini {
            margin-top: 26px;
            display: flex;
            flex-wrap: wrap;

            .image-block {
              height: 64px;
              width: 64px;
              margin-top: 24px;
              margin-right: 24px;

              &.map {
                margin-right: 0;
                margin-top: 0;
                height: 64px;
                width: 100%;
              }
            }
          }

          .text-style {
            margin-top: 24px;
            margin-left: -1px;
          }

          .info-block {
            margin-top: 26px;

            padding: 26px 23px;

            padding-bottom: 23px;

            .table {
              margin-top: 0;

              .table-row {
                display: flex;
                flex-direction: column;
                padding: 27px 0;

                .label {
                  margin-bottom: 14px;
                }

                .text.flex {
                  flex-direction: column;

                  .phones {
                    margin-top: -2px;
                    margin-bottom: 6px;
                  }

                  div a {
                    font-size: 14px;
                  }
                }

                &::last-child {
                  padding-bottom: 0;

                }
              }
            }

          }


        }
      }
    }
  }
}
