@media screen and (max-width: 1250px) {
  .product-cart-page .documents-flex-row .docs .doc .image-block{
    display: none;
  }
  .product-cart-page .documents-flex-row .docs .doc .text-block .info{
    display: none;
  }
  .product-cart-page .documents-flex-row .category-menu-toggle .label{
    font-size: 14px;
    line-height: 14px;
  }
  .product-cart-page .documents-flex-row .docs .doc .text-block .title a{
    font-size: 14px;
    line-height: 14px;
  }
  .product-cart-page .documents-flex-row .docs{
    margin-right: 0;
  }
  .product-cart-page .documents-flex-row .docs .doc+.doc {
    margin-left: 22px;
  }
  .product-cart-page .documents-flex-row .docs .doc-load{
    display: block;
    margin-right: 22px;
    color: #848e99;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
  }

  .product-cart-page .product-main-info-block .product-images {
    width: 300px;
    height: 335px;
  }
  .product-cart-page .product-main-info-block .product-images .swipper-control {
    width: 234px;
    left: calc(50% - 117px);
  }


  .product-cart-page .product-main-info-block .right-block {
    width: 330px;
    margin-right: 0;
  }
  .product-cart-page .product-main-info-block .right-block .title{
    font-size: 16px;
    line-height: 23px;
  }
  .product-cart-page .product-main-info-block .right-block .price-row {
    margin-top: 20px;
  }
  .product-cart-page .product-main-info-block .right-block .price-row .left .video-link{
    display: none;
  }
  .product-cart-page .product-main-info-block .right-block .price-row .left .price{
    font-size: 14px;
  }
  .product-cart-page .product-main-info-block .right-block .inrotext {
    font-size: 14px;
    line-height: 24px;
  }
  .product-cart-page .product-main-info-block .right-block .inrotext .scroll-js {
    height: 142px;
  }
  .product-cart-page .product-main-info-block .right-block .btn-row .links{
    position: absolute;
    left: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    a{
      font-size: 14px;
      display: inline-block;
      +a{
        margin-top: 20px;
      }
    }
  }
  .product-cart-page .product-main-info-block .right-block .btn-row .right .quant .label{
    font-size: 14px;
  }
  .product-cart-page .product-main-info-block .right-block .btn-row{
    justify-content: space-between;
  }
  .product-cart-page .product-tabs .tabs-titles .tab-title.disabled{
    display: none;
  }
  .product-cart-page .product-tabs .tabs-titles .tab-title{
    flex-grow: 1;
    font-size: 14px;
  }
  .product-cart-page .product-tabs .tabs-content .tab{
    padding: 32px;
  }
  .product-cart-page .product-tabs .tabs-content .tab .text-style{
    font-size: 14px;
    line-height: 24px;
  }
  .product-cart-page .product-tabs .tabs-content .tab .video {
    margin-top: 35px;
    width: 312px;
  }
  .product-cart-page .product-tabs .tabs-content .tab .video a::after {
    width: 60px;
    height: 60px;
    left: calc(50% - 30px);
    top: calc(50% - 30px);
  }
  .product-cart-page .product-tabs .tabs-content .tab .use {
    margin-top: 45px;
  }
  .product-cart-page .product-tabs .tabs-content .tab .use table tr td {
    font-size: 14px;
    line-height: 21px;
    padding: 20px 20px;
  }
  .product-cart-page .product-tabs .tabs-content .tab .tech {
    margin-top: 45px;
  }
  .product-cart-page .delivery-block {
    margin-top: 75px;
  }
  .product-cart-page .delivery-block .title {
    font-size: 23px;
  }
  .product-cart-page .delivery-block .flex-block {
    margin-top: 40px;
    display: block;
  }
  .product-cart-page .delivery-block .flex-block .left{
    width: 100%;
  }
  .product-cart-page .delivery-block .flex-block .right{
    width: 100%;
    padding: 30px;
    background-color: #f6f8fb;
    margin-top: 25px;
    box-sizing: border-box;
  }
  .product-cart-page .delivery-block .flex-block .right .phones{
    display: none;
  }
  .product-cart-page .delivery-block .flex-block .right p {
    font-size: 14px;
    line-height: 24px;
    .phones-p{
      display: inline-block;
      color: #1c1c1c;
      font-weight: 600;
      &:hover{
        color: #34a963;
      }
    }
  }
  .product-cart-page .delivery-block .tarifs {
    margin-top: 30px;
  }
  .product-cart-page .delivery-block .tarifs {
    font-size: 14px;
    line-height: 21px;
  }
  .product-cart-page .delivery-block .grid-block{
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .product-cart-page .delivery-block .grid-block .item {
    width: 33.3333%;
    max-width: 33.3333%;
    flex-grow: 1;
    box-sizing: border-box;
  }

  .product-cart-page .product-tabs .tabs-content .tab .shema {
    display: block;
    .image-block{
      margin-top: 18px;
    }
  }
  .product-cart-page .product-tabs .tabs-content .tab .documents .text {
    font-size: 14px;
    line-height: 24px;
  }
  .product-cart-page .product-tabs .tabs-content .tab .documents .grid-block .item {
    width: 140px;
    margin-top: 27px;
  }
  .product-cart-page .product-tabs .tabs-content .tab .comments-list .comment{
    padding-bottom: 32px;
    display: block;
  }
  .product-cart-page .product-tabs .tabs-content .tab .comments-list .comment .left{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .product-cart-page .product-tabs .tabs-content .tab .comments-list .comment .left .country .flag{
    display: none;
  }
  .product-cart-page .product-tabs .tabs-content .tab .comments-list .comment .left .country .strana {
    margin-top: 0;
    line-height: 25px;
    font-weight: 600;
  }
  .product-cart-page .product-tabs .tabs-content .tab .comments-list .comment .left .stars{
    width: 100%;
  }
  .product-cart-page .product-tabs .tabs-content .tab .comments-list .comment .left .country{
    margin-top: 30px;
    width: 312px;
  }
  .product-cart-page .product-tabs .tabs-content .tab .comments-list .comment .left .country .date-row {
    margin-top: 8px;
  }
  .product-cart-page .product-tabs .tabs-content .tab .comments-list .comment .right{
    width: 100%;
    margin-top: 30px;
    padding: 30px;
  }
  .product-cart-page .product-tabs .tabs-content .tab .comments-list .comment .right::before {
    border: 16px solid transparent;
    border-bottom: 13px solid #eff2f7;
    left: 32px;
    top: -26px;
  }
  .product-cart-page .product-tabs .tabs-content .tab .comments-list .comment .right .text {
    font-size: 14px;
    line-height: 24px;
  }
  .product-cart-page .product-tabs .tabs-content .tab .comments-list .comment+.comment {
    padding-top: 30px;
  }
  .product-cart-page .product-tabs .tabs-content .tab .commetns-form{
    margin-top: 30px;
    padding: 40px 30px;
  }
  .product-cart-page .product-tabs .tabs-content .tab .commetns-form .title {
    font-size: 16px;
  }
  .product-cart-page .product-tabs .tabs-content .tab .commetns-form .form-style .row{
    display: block;
  }
  .product-cart-page .product-tabs .tabs-content .tab .commetns-form .form-style .row .left, .product-cart-page .product-tabs .tabs-content .tab .commetns-form .form-style .row .right{
    width: 100%;
  }
  .product-cart-page .product-tabs .tabs-content .tab .commetns-form .form-style textarea{
    height: 147px;
  }
  .product-cart-page .product-tabs .tabs-content .tab .commetns-form .form-style .inputbox{
    font-size: 14px;
  }
  .product-cart-page .product-tabs .tabs-content .tab .commetns-form .form-style .inputbox+.inputbox{
    margin-top: 0;
  }
  .product-cart-page .product-tabs .tabs-content .tab .commetns-form .form-style .row .left, .product-cart-page .product-tabs .tabs-content .tab .commetns-form .form-style .row .right{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    input{
      margin-top: 24px;
      width: 284px;
    }
  }



  .block-scheme{
    display: flex;
    flex-direction: column-reverse;
   }
  .product-cart-page .product-main-info-block .right-block-scheme{
    width: 100%;
    max-height: 100%;
    height: auto;
  }
  .product-cart-page .product-main-info-block .left-block-scheme{
    width: 100%;
    margin-top: 30px;
    padding-left: 0;
    flex-direction: row;
  }

  .product-cart-page .product-main-info-block .left-block-scheme .add-images{
    margin-top: 0;
    margin-left: 50px;
  }

  .product-cart-page .product-main-info-block .left-block-scheme .btn-back{
    top: -30px;
  }
  .product-cart-page .product-order-row{
    padding: 40px 30px;
  }
  .product-cart-page .product-order-row .links{
    width: auto;
    display: block;
  }
  .product-cart-page .product-order-row .plus-minus{
    width: 120px;
  }
}


@media screen and (max-width: 750px) {
  .product-cart-page .product-order-row .left{
    display: block;
  }
  .product-cart-page .product-order-row .right{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product-cart-page .product-order-row .links{
    margin-left: 0;
    margin-top: 20px;
  }
  .product-cart-page .product-order-row .right .btn{
    margin-left: 0;
    margin-top: 20px;
  }
  .product-cart-page .product-main-info-block .left-block-scheme{
    display: block;
  }
  .product-cart-page .product-main-info-block .left-block-scheme .add-images{
    margin-top: 30px;
    margin-left: 0;
  }

  .product-cart-page .delivery-block .tarifs{
    width: auto;
  }
  .product-cart-page .product-tabs .tabs-content .tab .video{
    width: auto;
  }
  .product-cart-page .documents-flex-row .docs{
    display: none;
  }
  .product-cart-page .product-tabs .tabs-content .tab .use table tr td{
    display: block;
    width: 100%;
  }
}