.repres-page {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;

    .map {
        position: relative;
        max-width: 1687px;
        width: 100%;
        text-align: right;
        margin-left: auto;
        overflow: hidden;

        path {
            cursor: pointer;
        }

        img {
            //max-width: 100%;
            width: 1687px;
            height: 811px;
            //  height: auto;
        }

        svg,
        .static-container {
            position: absolute;
            z-index: 10;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            top: -2px;

            width: 1687px;
            height: 811px;
        }

        .static-container {
            height: 0;
        }

        .country {
            fill: #d7dce0;
            transition-duration: .2s;

            &:hover {
                fill: #ffe479;

            }

            position: relative;


        }

        .mark {
            fill: #34a963;
        }

        .hover-box {
            z-index: 11;
            position: absolute;
            // left: 50%;
            //bottom: 50%;
            height: 54px;
            border-radius: 27px;
            background-color: #fff;
            color: #1c1c1c;
            font-size: 18px;
            font-weight: 600;
            line-height: 25px;
            display: none;
            padding-left: 33px;
            padding-right: 31px;

            .arrow {
                display: block;
                margin-left: 21px;
                width: 19px;
                height: 19px;
                border-radius: 50%;
                background: url(../images/svg/arr-right-w.svg) center no-repeat, #34a963;
                ;
            }

            &:hover,
            &.visible {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

    }

    .map-text-container {
        position: relative;

        .left {
            position: absolute;
            top: 0;
            left: 2px;
            z-index: 11;


        }

        .title {
            color: #1c1c1c;
            font-size: 25px;
            font-weight: 500;
            line-height: 35px;

            margin-top: 75px;
        }


        .toggle {
            display: flex;
            justify-content: space-between;
            margin-top: 34px;
            border-bottom: 1px solid #dee2e7;

            max-width: 208px;

            .toggle_item {
                font-family: Montserrat;
                font-size: 15px;
                font-weight: 500;
                line-height: 38px;
                color: #848e99;
                margin-bottom: 2px;

                &.active {
                    color: #34a963;
                    border-bottom: 3px solid #34a963;

                    margin-bottom: -2px;
                }

                &:not(.active) {
                    cursor: pointer;
                }

                &:hover {
                    color: #34a963;
                }

                &:active {}

                &:focus {}

                position: relative;
            }

            .toggle_item:not(.active):after {
                display: block;
                content: "";
                background-color: #34a963;
                height: 3px;
                width: 0%;
                left: 50%;
                bottom: -4px;
                position: absolute;
                -webkit-transition: width .2s ease-in-out;
                -moz--transition: width .2s ease-in-out;
                transition: width .2s ease-in-out;
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                transform: translateX(-50%);
            }

            .toggle_item:hover:after,
            .toggle_item:focus:after {
                width: 100%;
            }

        }

        .text {
            color: #1c1c1c;
            font-size: 15px;
            font-weight: 400;
            line-height: 25px;

            margin-top: 73px;
            max-width: 413px;
        }


    }

    .btn {
        width: 207px;
        height: 45px;
        border-radius: 22px;
        background-color: #34a963;
        color: #ffffff;
        font-family: Montserrat;
        font-size: 13px;
        font-weight: 400;
        line-height: 25px;
        text-transform: uppercase;
        padding-left: 29px;
        padding-right: 21px;
        display: flex;
        align-items: center;
        margin-top: 219px;
        justify-content: space-between;
        border: none;

        .arrow {
            width: 19px;
            height: 19px;
            border: 1px solid #ffffff;
            box-sizing: border-box;
            border-radius: 50%;
            background: url(../images/svg/arr-right-w.svg) center no-repeat;
        }

        &:hover {
            transition-duration: .2s;
            filter: brightness(1.1);
        }

        &:active {}

        &:focus {}
    }

    .diller-tabs {
        display: none;
    }

    &.repres-page-list {
        background: #f6f8fb;

        .map {
            display: none;
        }

        .map-text-container.container {

            >.left {
                position: relative;
                width: 100%;
                max-width: 100%;

                .title {
                    margin-top: 0;
                    padding-top: 75px;
                }

                .map-text {
                    display: none;
                }
            }
        }

        .diller-tabs {
            display: flex;
            align-items: stretch;

            margin-top: 47px;

            .tabs {
                display: flex;
                flex-direction: column;
                flex-grow: 1;

                max-width: 283px;

                .item {
                    width: 100%;
                    color: #1c1c1c;
                    font-family: Montserrat;
                    font-size: 25px;
                    font-weight: 500;
                    line-height: 35px;
                    display: flex;
                    align-items: center;
                    padding-left: 3px;
                    padding-top: 31px;
                    padding-bottom: 32px;
                    cursor: pointer;

                    img {
                        padding-right: 17px;
                    }

                    opacity: 0.6;

                    &:hover {
                        opacity: 1;
                    }

                    &.active {
                        opacity: 1;
                        border-bottom: 1px solid #dee2e7;


                        box-sizing: border-box;

                        &:first-child {


                            margin-top: 31px;
                            padding-top: 0;
                        }
                    }
                }
            }

            .content {
                flex-grow: 1;
                display: none;

                &.active {
                    display: block;
                }

                .category {

                    border-left: 1px solid #dee2e7;


                    padding-top: 62px;

                    &:first-child {
                        margin-top: 38px;
                        padding-top: 0;
                    }

                    .title {
                        padding-left: 47px;

                        margin-top: -4px;
                        padding-top: 0;

                        color: #1c1c1c;
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 35px;
                        border-bottom: 1px solid #dee2e7;

                        height: 64px;
                    }


                    .item {
                        margin-left: 47px;
                        border-bottom: 1px solid #dee2e7;
                        padding-bottom: 28px;
                        position: relative;

                        &::after {
                            content: "";
                            width: 10px;
                            height: 5px;
                            position: absolute;
                            top: 37px;
                            right: 0;
                            background: url(../images/svg/arr-gray-u.svg);
                            transition-duration: .2s;

                        }

                        .name {
                            font-family: Montserrat;
                            color: #34a963;
                            font-size: 15px;
                            font-weight: 500;
                            line-height: 35px;
                            padding-top: 20px;
                            display: flex;
                            cursor: pointer;

                            .city {
                                display: none;
                            }
                        }

                        .url {
                            display: block;
                            color: #848e99;
                            font-size: 13px;
                            font-weight: 400;
                            line-height: 25px;

                            margin-top: -8px;

                            &:hover {
                                color: #34a963;
                            }
                        }

                        .contacts {
                            display: flex;
                            flex-wrap: wrap;
                            padding-top: 21px;
                            width: 100%;


                            .contact {
                                &:nth-child(1) {
                                    width: 42.8%;
                                }

                                &:nth-child(2) {
                                    width: 24.8%;
                                }

                                &:nth-child(3) {
                                    width: 32.4%;
                                }
                            }

                            .type {
                                color: #848e99;
                                font-size: 13px;
                            }

                            .info {
                                color: #1c1c1c;
                                font-size: 15px;
                                padding-top: 7px;

                                a {

                                    color: #1c1c1c;
                                    text-decoration: underline;

                                    &:hover {

                                        text-decoration: none;
                                    }

                                    &:active {}

                                    &:focus {}
                                }

                                .bold {
                                    font-weight: 600;
                                }


                                a {
                                    &:hover {}

                                    &:active {}

                                    &:focus {}
                                }
                            }
                        }

                        &.closed {
                            padding-bottom: 19px;

                            &::after {
                                transform: rotate(180deg);
                            }

                            .name {
                                color: #1c1c1c;

                                .company {
                                    width: 43%;
                                }

                                .city {
                                    display: block;
                                    color: #848e99;
                                    font-family: Montserrat;
                                    font-size: 15px;
                                    font-weight: 400;
                                }

                                &:hover {
                                    .company {
                                        color: #34a963;
                                    }
                                }
                            }

                            .url {
                                display: none;
                            }

                            .contacts {
                                display: none;

                                .contact {}

                                .type {}

                                .info {

                                    a {
                                        &:hover {}

                                        &:active {}

                                        &:focus {}
                                    }

                                    .bold {}


                                    a {
                                        &:hover {}

                                        &:active {}

                                        &:focus {}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width:1250px) {
    .repres-page {
        .map-text-container {

            .left {
                left: -2px;
            }

            .title {
                font-size: 23px;
                font-weight: 500;
                line-height: 35px;
                margin-top: 52px;
            }


            .toggle {
                margin-top: 23px;
            }

            .text {
                font-size: 14px;
                line-height: 24px;
                margin-top: 63px;
                max-width: 281px;
            }


        }

        .btn {
            margin-top: 173px;
            margin-left: 0px;
        }
    }

    .repres-page {


        &.repres-page-list {
            .map {}

            .map-text-container.container {
                >.left {
                    >.title {
                        padding-top: 52px;
                    }

                    .map-text {}
                }
            }

            .diller-tabs {
                margin-top: 25px;

                .tabs {
                    max-width: 206px;
                    min-width: 206px;

                    .item {
                        &:first-child {
                            padding-top: 0;
                            margin-top: 39px;
                        }

                        padding-top: 23px;
                        padding-bottom: 23px;
                        font-size: 23px;
                        font-weight: 500;
                        line-height: 35px;

                        img {
                            padding-right: 12px;
                        }

                        &:hover {}

                        &.active {
                            &:first-child {
                                padding-top: 0;
                                margin-top: 39px;
                            }
                        }
                    }
                }

                .content {
                    &.active {}

                    .category {
                        padding-top: 41px;

                        &:first-child {
                            margin-top: 51px;

                            .title {
                                height: 50px;
                                line-height: 24px;

                            }
                        }

                        .title {
                            padding-left: 31px;
                            font-size: 16px;
                            line-height: 40px;

                            height: 50px;
                            /*
                            &:first-child {
                                height: 50px;
                                line-height: 24px;
                            }*/
                        }

                        .item {
                            margin-left: 30px;

                            &::after {}

                            .name {
                                font-size: 14px;

                                .city {}
                            }

                            .url {
                                margin-top: -11px;

                                &:hover {}
                            }

                            .contacts {
                                flex-wrap: wrap;

                                .contact {
                                    &:nth-child(1) {
                                        width: 64.8%;
                                    }

                                    &:nth-child(2) {}

                                    &:nth-child(3) {
                                        width: 100%;
                                        margin-top: 28px;
                                    }
                                }

                                .type {}

                                .info {
                                    font-size: 14px;

                                    a {
                                        &:hover {}

                                        &:active {}

                                        &:focus {}
                                    }

                                    .bold {}

                                    a {
                                        &:hover {}

                                        &:active {}

                                        &:focus {}
                                    }
                                }
                            }

                            &.closed {
                                &::after {}

                                .name {
                                    .company {
                                        width: fit-content;
                                    }

                                    .city {
                                        margin-left: 22px;
                                    }

                                    &:hover {
                                        .company {}
                                    }
                                }

                                .url {}

                                .contacts {
                                    .contact {}

                                    .type {}

                                    .info {
                                        a {
                                            &:hover {}

                                            &:active {}

                                            &:focus {}
                                        }

                                        .bold {}

                                        a {
                                            &:hover {}

                                            &:active {}

                                            &:focus {}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}



@media screen and (max-width:1010px) {
    .repres-page {
        .map {
            img {
                width: 1232px;
                height: auto;
            }

            svg,
            .static-container {
                width: 1232px;
                height: auto;
            }


        }

    }


}


@media screen and (max-width:800px) {
    .repres-page {
        .map {
            height: 592px;
            padding-bottom: 127px;
            top: 318px;

            img {
                position: absolute;
                width: 1232px;
                height: auto;
                left: unset;
                right: -494px;
                top: 0px;
            }

            svg,
            .static-container {
                width: 1232px;
                height: auto;

                left: unset;

                right: -494px;
                top: 0px;
            }


        }

        .map-text-container.container {
            .left {
                .title {
                    font-size: 20px;

                    margin-top: 50px;
                }

                .toggle {
                    margin-top: 14px;
                    max-width: 202px;

                    .toggle_item {

                        font-size: 14px;
                    }
                }

                .text {

                    margin-top: 34px;
                    max-width: 100%;
                }

                .btn {
                    .arrow {}

                    &:hover {}

                    &:active {}

                    &:focus {}
                }
            }
        }

        .btn {

            position: absolute;
            z-index: 12;
            top: 495px;
            left: 15px;
        }

        footer {
            z-index: 50;
            position: relative;
        }

        &.repres-page-list {
            .btn {
                display: none;
            }
        }

    }


}


@media screen and (max-width:700px) {

    .repres-page {
        .map {}

        .map-text-container.container {
            >.left {
                >.title {
                    font-size: 20px;
                }

                .map-text {
                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }

        .btn {
            margin-top: 218px;
        }


        &.repres-page-list {
            .btn {
                display: none;
            }

            .map-text-container.container>.left>.title {
                padding-top: 50px;
            }

            .diller-tabs {
                display: flex;
                flex-direction: column;
                position: relative;

                .activeTab {
                    position: relative;
                    cursor: pointer;
                    width: calc(100% - 23px);
                    height: 56px;
                    border: 1px solid #dee2e7;
                    background-color: #eff2f7;
                    display: flex;
                    align-items: center;
                    padding-left: 23px;
                    font-size: 20px;
                    cursor: pointer;

                    img {
                        padding-right: 14px;
                    }

                    &::after {
                        content: "";
                        width: 10px;
                        height: 5px;
                        position: absolute;
                        top: 24px;
                        right: 23px;
                        transition-duration: .2s;
                        background: url(../images/svg/arr-gray-u.svg);
                        -webkit-transition-duration: .2s;
                        transition-duration: .2s;
                        transform: rotate(0deg);
                    }

                    &.closed {
                        &::after {
                            transform: rotate(180deg);
                        }
                    }
                }

                .tabs {
                    position: absolute;
                    z-index: 100;
                    max-width: calc(100% - 20px);
                    margin-top: 0;
                    top: 57px;
                    width: calc(100% - 20px);
                    padding: 10px;
                    border: 1px solid #dee2e7;
                    background-color: #eff2f7;
                    display: none;

                    .item {
                        cursor: pointer;
                        position: relative;
                        cursor: pointer;
                        width: calc(100% - 23px);
                        display: flex;
                        align-items: center;
                        padding: 15px 23px;
                        font-size: 20px;
                        cursor: pointer;
                        opacity: .7;

                        img {
                            padding-right: 14px;
                        }

                        &:first-child {
                            padding: 15px 23px;
                            margin-top: 0;
                            height: unset;
                        }

                        &.active {
                            display: none;
                        }
                    }
                }


                .tabs {
                    .item {
                        &:first-child {}

                        img {}

                        &:hover {}

                        &.active {
                            &:first-child {}
                        }
                    }
                }

                .content {
                    &.active {}

                    .category {
                        border-left: none;
                        padding-top: 31px;

                        &:first-child {
                            .title {
                                height: 42px;
                            }
                        }

                        .title {
                            position: relative;
                            padding-left: 0;

                            &::after {
                                content: "";
                                display: block;
                                position: absolute;
                                bottom: -1px;
                                width: 100vw;
                                left: -15px;
                                height: 1px;
                                background-color: #dee2e7;
                            }
                        }

                        .item {
                            margin-left: 0;
                            padding-bottom: 22px;

                            &::after {
                                top: 28px;
                                right: -2px;
                            }

                            .name {
                                padding-top: 12px;

                                display: block;

                                .company {
                                    width: 100%;
                                    font-size: 14px;
                                }

                                .city {
                                    font-size: 14px;
                                    width: 100%;
                                    margin-left: 0;
                                }
                            }

                            .url {
                                &:hover {}
                            }

                            .contacts {
                                padding-top: 14px;

                                .contact {
                                    &:nth-child(1) {
                                        width: 100%;
                                        margin-bottom: 18px;
                                    }

                                    &:nth-child(2) {
                                        width: 100%;
                                    }

                                    &:nth-child(3) {
                                        margin-top: 19px;
                                    }
                                }

                                .type {}

                                .info {
                                    a {
                                        &:hover {}

                                        &:active {}

                                        &:focus {}
                                    }

                                    .bold {}

                                    a {
                                        &:hover {}

                                        &:active {}

                                        &:focus {}
                                    }
                                }
                            }

                            &.closed {
                                padding-bottom: 10px;

                                &::after {}

                                .name {
                                    .company {}

                                    .city {
                                        margin-left: 0;

                                        margin-top: -12px;
                                        font-size: 14px;
                                    }

                                    &:hover {
                                        .company {}
                                    }
                                }

                                .url {}

                                .contacts {
                                    .contact {}

                                    .type {}

                                    .info {
                                        a {
                                            &:hover {}

                                            &:active {}

                                            &:focus {}
                                        }

                                        .bold {}

                                        a {
                                            &:hover {}

                                            &:active {}

                                            &:focus {}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }






        }
    }
}
