html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike,  tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
b, strong{
	font-weight: 700;
}
i, em{
	font-style: italic;
}

.inputbox::-webkit-input-placeholder{opacity: 1; transition: opacity 0.3s ease;color: #848e99;}
.inputbox::-moz-placeholder{opacity: 1; transition: opacity 0.3s ease;color: #848e99;}
.inputbox:-moz-placeholder{opacity: 1; transition: opacity 0.3s ease;color: #848e99;}
.inputbox:-ms-input-placeholder{opacity: 1; transition: opacity 0.3s ease;color: #848e99;}
.inputbox:focus::-webkit-input-placeholder{opacity: 0; transition: opacity 0.3s ease;}
.inputbox:focus::-moz-placeholder{opacity: 0; transition: opacity 0.3s ease;}
.inputbox:focus:-moz-placeholder{opacity: 0; transition: opacity 0.3s ease;}
.inputbox:focus:-ms-input-placeholder{opacity: 0; transition: opacity 0.3s ease;}
.textarea::-webkit-input-placeholder{opacity: 1; transition: opacity 0.3s ease;color: #848e99;}
.textarea::-moz-placeholder{opacity: 1; transition: opacity 0.3s ease;color: #848e99;}
.textarea:-moz-placeholder{opacity: 1; transition: opacity 0.3s ease;color: #848e99;}
.textarea:-ms-input-placeholder{opacity: 1; transition: opacity 0.3s ease;color: #848e99;}
.textarea:focus::-webkit-input-placeholder{opacity: 0; transition: opacity 0.3s ease;}
.textarea:focus::-moz-placeholder{opacity: 0; transition: opacity 0.3s ease;}
.textarea:focus:-moz-placeholder{opacity: 0; transition: opacity 0.3s ease;}
.textarea:focus:-ms-input-placeholder{opacity: 0; transition: opacity 0.3s ease;}

[data-accordion] [data-content] {
	overflow: hidden;
	max-height: 0;
}

/* Basic Theme */

[data-accordion] {
	line-height: 1;
}

[data-control],
[data-content] > * {

}

[data-content] [data-accordion] {
	border: 0;
	padding: 0;
}

[data-accordion] [data-control] {
	position: relative;
	padding-right: 40px;
}

[data-accordion] > [data-control]:after {
	content: "";
	position: absolute;
	right: 10px;
	top: 12px;
	font-size: 25px;
	font-weight: 200;
	color: #444;
	height: 15px;
	width: 24px;
	background-size: 50%;
}

[data-accordion].open > [data-control]:after {
	-webkit-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

.clear{
	clear: both;
}
